In [1]:
import pandas as pd

In [3]:
titanic_data = pd.read_csv('data/titanic-train.csv', index_col='PassengerId')

In [4]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [7]:
titanic_data.Survived.unique()

array([0, 1], dtype=int64)

In [8]:
titanic_data.Pclass.unique()

array([3, 1, 2], dtype=int64)

### apply

In [16]:
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
def f(r):
    print (r)
    return r
titanic_data.apply(f, axis=1)

Survived                          0
Pclass                            3
Name        Braund, Mr. Owen Harris
Sex                            male
Age                              22
SibSp                             1
Parch                             0
Ticket                    A/5 21171
Fare                           7.25
Cabin                           NaN
Embarked                          S
Name: 1, dtype: object
Survived                          0
Pclass                            3
Name        Braund, Mr. Owen Harris
Sex                            male
Age                              22
SibSp                             1
Parch                             0
Ticket                    A/5 21171
Fare                           7.25
Cabin                           NaN
Embarked                          S
Name: 1, dtype: object
Survived                                                    1
Pclass                                                      1
Name        Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                    female
Age                                                        38
SibSp                                                       1
Parch                                                       0
Ticket                                               PC 17599
Fare                                                  71.2833
Cabin                                                     C85
Embarked                                                    C
Name: 2, dtype: object
Survived                         1
Pclass                           3
Name        Heikkinen, Miss. Laina
Sex                         female
Age                             26
SibSp                            0
Parch                            0
Ticket            STON/O2. 3101282
Fare                         7.925
Cabin                          NaN
Embarked                         S
Name: 3, dtype: object
Survived                                               1
Pclass                                                 1
Name        Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                               female
Age                                                   35
SibSp                                                  1
Parch                                                  0
Ticket                                            113803
Fare                                                53.1
Cabin                                               C123
Embarked                                               S
Name: 4, dtype: object
Survived                           0
Pclass                             3
Name        Allen, Mr. William Henry
Sex                             male
Age                               35
SibSp                              0
Parch                              0
Ticket                        373450
Fare                            8.05
Cabin                            NaN
Embarked                           S
Name: 5, dtype: object
Survived                   0
Pclass                     3
Name        Moran, Mr. James
Sex                     male
Age                      NaN
SibSp                      0
Parch                      0
Ticket                330877
Fare                  8.4583
Cabin                    NaN
Embarked                   Q
Name: 6, dtype: object
Survived                          0
Pclass                            1
Name        McCarthy, Mr. Timothy J
Sex                            male
Age                              54
SibSp                             0
Parch                             0
Ticket                        17463
Fare                        51.8625
Cabin                           E46
Embarked                          S
Name: 7, dtype: object
Survived                                 0
Pclass                                   3
Name        Palsson, Master. Gosta Leonard
Sex                                   male
Age                                      2
SibSp                                    3
Parch                                    1
Ticket                              349909
Fare                                21.075
Cabin                                  NaN
Embarked                                 S
Name: 8, dtype: object
Survived                                                    1
Pclass                                                      3
Name        Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
Sex                                                    female
Age                                                        27
SibSp                                                       0
Parch                                                       2
Ticket                                                 347742
Fare                                                  11.1333
Cabin                                                     NaN
Embarked                                                    S
Name: 9, dtype: object
Survived                                      1
Pclass                                        2
Name        Nasser, Mrs. Nicholas (Adele Achem)
Sex                                      female
Age                                          14
SibSp                                         1
Parch                                         0
Ticket                                   237736
Fare                                    30.0708
Cabin                                       NaN
Embarked                                      C
Name: 10, dtype: object
Survived                                  1
Pclass                                    3
Name        Sandstrom, Miss. Marguerite Rut
Sex                                  female
Age                                       4
SibSp                                     1
Parch                                     1
Ticket                              PP 9549
Fare                                   16.7
Cabin                                    G6
Embarked                                  S
Name: 11, dtype: object
Survived                           1
Pclass                             1
Name        Bonnell, Miss. Elizabeth
Sex                           female
Age                               58
SibSp                              0
Parch                              0
Ticket                        113783
Fare                           26.55
Cabin                           C103
Embarked                           S
Name: 12, dtype: object
Survived                                 0
Pclass                                   3
Name        Saundercock, Mr. William Henry
Sex                                   male
Age                                     20
SibSp                                    0
Parch                                    0
Ticket                           A/5. 2151
Fare                                  8.05
Cabin                                  NaN
Embarked                                 S
Name: 13, dtype: object
Survived                              0
Pclass                                3
Name        Andersson, Mr. Anders Johan
Sex                                male
Age                                  39
SibSp                                 1
Parch                                 5
Ticket                           347082
Fare                             31.275
Cabin                               NaN
Embarked                              S
Name: 14, dtype: object
Survived                                       0
Pclass                                         3
Name        Vestrom, Miss. Hulda Amanda Adolfina
Sex                                       female
Age                                           14
SibSp                                          0
Parch                                          0
Ticket                                    350406
Fare                                      7.8542
Cabin                                        NaN
Embarked                                       S
Name: 15, dtype: object
Survived                                   1
Pclass                                     2
Name        Hewlett, Mrs. (Mary D Kingcome)
Sex                                   female
Age                                       55
SibSp                                      0
Parch                                      0
Ticket                                248706
Fare                                      16
Cabin                                    NaN
Embarked                                   S
Name: 16, dtype: object
Survived                       0
Pclass                         3
Name        Rice, Master. Eugene
Sex                         male
Age                            2
SibSp                          4
Parch                          1
Ticket                    382652
Fare                      29.125
Cabin                        NaN
Embarked                       Q
Name: 17, dtype: object
Survived                               1
Pclass                                 2
Name        Williams, Mr. Charles Eugene
Sex                                 male
Age                                  NaN
SibSp                                  0
Parch                                  0
Ticket                            244373
Fare                                  13
Cabin                                NaN
Embarked                               S
Name: 18, dtype: object
Survived                                                    0
Pclass                                                      3
Name        Vander Planke, Mrs. Julius (Emelia Maria Vande...
Sex                                                    female
Age                                                        31
SibSp                                                       1
Parch                                                       0
Ticket                                                 345763
Fare                                                       18
Cabin                                                     NaN
Embarked                                                    S

Name: 19, dtype: object
Survived                          1
Pclass                            3
Name        Masselmani, Mrs. Fatima
Sex                          female
Age                             NaN
SibSp                             0
Parch                             0
Ticket                         2649
Fare                          7.225
Cabin                           NaN
Embarked                          C
Name: 20, dtype: object
Survived                       0
Pclass                         2
Name        Fynney, Mr. Joseph J
Sex                         male
Age                           35
SibSp                          0
Parch                          0
Ticket                    239865
Fare                          26
Cabin                        NaN
Embarked                       S
Name: 21, dtype: object
Survived                        1
Pclass                          2
Name        Beesley, Mr. Lawrence
Sex                          male
Age                            34
SibSp                           0
Parch                           0
Ticket                     248698
Fare                           13
Cabin                         D56
Embarked                        S
Name: 22, dtype: object
Survived                              1
Pclass                                3
Name        McGowan, Miss. Anna "Annie"
Sex                              female
Age                                  15
SibSp                                 0
Parch                                 0
Ticket                           330923
Fare                             8.0292
Cabin                               NaN
Embarked                              Q
Name: 23, dtype: object
Survived                               1
Pclass                                 1
Name        Sloper, Mr. William Thompson
Sex                                 male
Age                                   28
SibSp                                  0
Parch                                  0
Ticket                            113788
Fare                                35.5
Cabin                                 A6
Embarked                               S
Name: 24, dtype: object
Survived                                0
Pclass                                  3
Name        Palsson, Miss. Torborg Danira
Sex                                female
Age                                     8
SibSp                                   3
Parch                                   1
Ticket                             349909
Fare                               21.075
Cabin                                 NaN
Embarked                                S
Name: 25, dtype: object
Survived                                                    1
Pclass                                                      3
Name        Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
Sex                                                    female
Age                                                        38
SibSp                                                       1
Parch                                                       5
Ticket                                                 347077
Fare                                                  31.3875
Cabin                                                     NaN
Embarked                                                    S
Name: 26, dtype: object
Survived                          0
Pclass                            3
Name        Emir, Mr. Farred Chehab
Sex                            male
Age                             NaN
SibSp                             0
Parch                             0
Ticket                         2631
Fare                          7.225
Cabin                           NaN
Embarked                          C
Name: 27, dtype: object
Survived                                 0
Pclass                                   1
Name        Fortune, Mr. Charles Alexander
Sex                                   male
Age                                     19
SibSp                                    3
Parch                                    2
Ticket                               19950
Fare                                   263
Cabin                          C23 C25 C27
Embarked                                 S
Name: 28, dtype: object
Survived                                1
Pclass                                  3
Name        O'Dwyer, Miss. Ellen "Nellie"
Sex                                female
Age                                   NaN
SibSp                                   0
Parch                                   0
Ticket                             330959
Fare                               7.8792
Cabin                                 NaN
Embarked                                Q
Name: 29, dtype: object
Survived                      0
Pclass                        3
Name        Todoroff, Mr. Lalio
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   349216
Fare                     7.8958
Cabin                       NaN
Embarked                      S
Name: 30, dtype: object
Survived                           0
Pclass                             1
Name        Uruchurtu, Don. Manuel E
Sex                             male
Age                               40
SibSp                              0
Parch                              0
Ticket                      PC 17601
Fare                         27.7208
Cabin                            NaN
Embarked                           C
Name: 31, dtype: object
Survived                                                 1
Pclass                                                   1
Name        Spencer, Mrs. William Augustus (Marie Eugenie)
Sex                                                 female
Age                                                    NaN
SibSp                                                    1
Parch                                                    0
Ticket                                            PC 17569
Fare                                               146.521
Cabin                                                  B78
Embarked                                                 C
Name: 32, dtype: object
Survived                           1
Pclass                             3
Name        Glynn, Miss. Mary Agatha
Sex                           female
Age                              NaN
SibSp                              0
Parch                              0
Ticket                        335677
Fare                            7.75
Cabin                            NaN
Embarked                           Q
Name: 33, dtype: object
Survived                        0
Pclass                          2
Name        Wheadon, Mr. Edward H
Sex                          male
Age                            66
SibSp                           0
Parch                           0
Ticket                 C.A. 24579
Fare                         10.5
Cabin                         NaN
Embarked                        S
Name: 34, dtype: object
Survived                          0
Pclass                            1
Name        Meyer, Mr. Edgar Joseph
Sex                            male
Age                              28
SibSp                             1
Parch                             0
Ticket                     PC 17604
Fare                        82.1708
Cabin                           NaN
Embarked                          C
Name: 35, dtype: object
Survived                                 0
Pclass                                   1
Name        Holverson, Mr. Alexander Oskar
Sex                                   male
Age                                     42
SibSp                                    1
Parch                                    0
Ticket                              113789
Fare                                    52
Cabin                                  NaN
Embarked                                 S
Name: 36, dtype: object
Survived                   1
Pclass                     3
Name        Mamee, Mr. Hanna
Sex                     male
Age                      NaN
SibSp                      0
Parch                      0
Ticket                  2677
Fare                  7.2292
Cabin                    NaN
Embarked                   C
Name: 37, dtype: object
Survived                           0
Pclass                             3
Name        Cann, Mr. Ernest Charles
Sex                             male
Age                               21
SibSp                              0
Parch                              0
Ticket                    A./5. 2152
Fare                            8.05
Cabin                            NaN
Embarked                           S
Name: 38, dtype: object
Survived                                     0
Pclass                                       3
Name        Vander Planke, Miss. Augusta Maria
Sex                                     female
Age                                         18
SibSp                                        2
Parch                                        0
Ticket                                  345764
Fare                                        18
Cabin                                      NaN
Embarked                                     S
Name: 39, dtype: object
Survived                              1
Pclass                                3
Name        Nicola-Yarred, Miss. Jamila
Sex                              female
Age                                  14
SibSp                                 1
Parch                                 0
Ticket                             2651
Fare                            11.2417
Cabin                               NaN
Embarked                              C
Name: 40, dtype: object
Survived                                                 0
Pclass                                                   3
Name        Ahlin, Mrs. Johan (Johanna Persdotter Larsson)
Sex                                                 female
Age                                                     40
SibSp                                                    1
Parch                                                    0
Ticket                                                7546
Fare                                                 9.475
Cabin                                                  NaN
Embarked                                                 S
Name: 41, dtype: object
Survived                                                    0
Pclass                                                      2
Name        Turpin, Mrs. William John Robert (Dorothy Ann ...
Sex                                                    female
Age                                                        27
SibSp                                                       1
Parch                                                       0
Ticket                                                  11668
Fare                                                       21
Cabin                                                     NaN
Embarked                                                    S
Name: 42, dtype: object
Survived                      0
Pclass                        3
Name        Kraeff, Mr. Theodor
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   349253
Fare                     7.8958
Cabin                       NaN
Embarked                      C
Name: 43, dtype: object
Survived                                           1
Pclass                                             2
Name        Laroche, Miss. Simonne Marie Anne Andree
Sex                                           female
Age                                                3
SibSp                                              1
Parch                                              2
Ticket                                 SC/Paris 2123
Fare                                         41.5792
Cabin                                            NaN
Embarked                                           C
Name: 44, dtype: object
Survived                                1
Pclass                                  3
Name        Devaney, Miss. Margaret Delia
Sex                                female
Age                                    19
SibSp                                   0
Parch                                   0
Ticket                             330958
Fare                               7.8792
Cabin                                 NaN
Embarked                                Q
Name: 45, dtype: object
Survived                           0
Pclass                             3
Name        Rogers, Mr. William John
Sex                             male
Age                              NaN
SibSp                              0
Parch                              0
Ticket               S.C./A.4. 23567
Fare                            8.05
Cabin                            NaN
Embarked                           S
Name: 46, dtype: object
Survived                    0
Pclass                      3
Name        Lennon, Mr. Denis
Sex                      male
Age                       NaN
SibSp                       1
Parch                       0
Ticket                 370371
Fare                     15.5
Cabin                     NaN
Embarked                    Q
Name: 47, dtype: object
Survived                            1
Pclass                              3
Name        O'Driscoll, Miss. Bridget
Sex                            female
Age                               NaN
SibSp                               0
Parch                               0
Ticket                          14311
Fare                             7.75
Cabin                             NaN
Embarked                            Q
Name: 48, dtype: object
Survived                      0
Pclass                        3
Name        Samaan, Mr. Youssef
Sex                        male
Age                         NaN
SibSp                         2
Parch                         0
Ticket                     2662
Fare                    21.6792
Cabin                       NaN
Embarked                      C
Name: 49, dtype: object
Survived                                                0
Pclass                                                  3
Name        Arnold-Franchi, Mrs. Josef (Josefine Franchi)
Sex                                                female
Age                                                    18
SibSp                                                   1
Parch                                                   0
Ticket                                             349237
Fare                                                 17.8
Cabin                                                 NaN
Embarked                                                S
Name: 50, dtype: object
Survived                             0
Pclass                               3
Name        Panula, Master. Juha Niilo
Sex                               male
Age                                  7
SibSp                                4
Parch                                1
Ticket                         3101295
Fare                           39.6875
Cabin                              NaN
Embarked                             S
Name: 51, dtype: object
Survived                               0
Pclass                                 3
Name        Nosworthy, Mr. Richard Cater
Sex                                 male
Age                                   21
SibSp                                  0
Parch                                  0
Ticket                        A/4. 39886
Fare                                 7.8
Cabin                                NaN
Embarked                               S
Name: 52, dtype: object
Survived                                           1
Pclass                                             1
Name        Harper, Mrs. Henry Sleeper (Myna Haxtun)
Sex                                           female
Age                                               49
SibSp                                              1
Parch                                              0
Ticket                                      PC 17572
Fare                                         76.7292
Cabin                                            D33
Embarked                                           C
Name: 53, dtype: object
Survived                                                    1
Pclass                                                      2
Name        Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...
Sex                                                    female
Age                                                        29
SibSp                                                       1
Parch                                                       0
Ticket                                                   2926
Fare                                                       26
Cabin                                                     NaN
Embarked                                                    S
Name: 54, dtype: object
Survived                                 0
Pclass                                   1
Name        Ostby, Mr. Engelhart Cornelius
Sex                                   male
Age                                     65
SibSp                                    0
Parch                                    1
Ticket                              113509
Fare                               61.9792
Cabin                                  B30
Embarked                                 C
Name: 55, dtype: object
Survived                    1
Pclass                      1
Name        Woolner, Mr. Hugh
Sex                      male
Age                       NaN
SibSp                       0
Parch                       0
Ticket                  19947
Fare                     35.5
Cabin                     C52
Embarked                    S
Name: 56, dtype: object
Survived                    1
Pclass                      2
Name        Rugg, Miss. Emily
Sex                    female
Age                        21
SibSp                       0
Parch                       0
Ticket             C.A. 31026
Fare                     10.5
Cabin                     NaN
Embarked                    S
Name: 57, dtype: object
Survived                      0
Pclass                        3
Name        Novel, Mr. Mansouer
Sex                        male
Age                        28.5
SibSp                         0
Parch                         0
Ticket                     2697
Fare                     7.2292
Cabin                       NaN
Embarked                      C
Name: 58, dtype: object
Survived                               1
Pclass                                 2
Name        West, Miss. Constance Mirium
Sex                               female
Age                                    5
SibSp                                  1
Parch                                  2
Ticket                        C.A. 34651
Fare                               27.75
Cabin                                NaN
Embarked                               S
Name: 59, dtype: object
Survived                                     0
Pclass                                       3
Name        Goodwin, Master. William Frederick
Sex                                       male
Age                                         11
SibSp                                        5
Parch                                        2
Ticket                                 CA 2144
Fare                                      46.9
Cabin                                      NaN
Embarked                                     S
Name: 60, dtype: object
Survived                        0
Pclass                          3
Name        Sirayanian, Mr. Orsen
Sex                          male
Age                            22
SibSp                           0
Parch                           0
Ticket                       2669

Survived                    0
Pclass                      3
Name        Kink, Mr. Vincenz
Sex                      male
Age                        26
SibSp                       2
Parch                       0
Ticket                 315151
Fare                   8.6625
Cabin                     NaN
Embarked                    S
Name: 70, dtype: object
Survived                             0
Pclass                               2
Name        Jenkin, Mr. Stephen Curnow
Sex                               male
Age                                 32
SibSp                                0
Parch                                0
Ticket                      C.A. 33111
Fare                              10.5
Cabin                              NaN
Embarked                             S
Name: 71, dtype: object
Survived                             0
Pclass                               3
Name        Goodwin, Miss. Lillian Amy
Sex                             female
Age                                 16
SibSp                                5
Parch                                2
Ticket                         CA 2144
Fare                              46.9
Cabin                              NaN
Embarked                             S
Name: 72, dtype: object
Survived                       0
Pclass                         2
Name        Hood, Mr. Ambrose Jr
Sex                         male
Age                           21
SibSp                          0
Parch                          0
Ticket              S.O.C. 14879
Fare                        73.5
Cabin                        NaN
Embarked                       S
Name: 73, dtype: object
Survived                              0
Pclass                                3
Name        Chronopoulos, Mr. Apostolos
Sex                                male
Age                                  26
SibSp                                 1
Parch                                 0
Ticket                             2680
Fare                            14.4542
Cabin                               NaN
Embarked                              C
Name: 74, dtype: object
Survived                1
Pclass                  3
Name        Bing, Mr. Lee
Sex                  male
Age                    32
SibSp                   0
Parch                   0
Ticket               1601
Fare              56.4958
Cabin                 NaN
Embarked                S
Name: 75, dtype: object
Survived                          0
Pclass                            3
Name        Moen, Mr. Sigurd Hansen
Sex                            male
Age                              25
SibSp                             0
Parch                             0
Ticket                       348123
Fare                           7.65
Cabin                         F G73
Embarked                          S
Name: 76, dtype: object
Survived                    0
Pclass                      3
Name        Staneff, Mr. Ivan
Sex                      male
Age                       NaN
SibSp                       0
Parch                       0
Ticket                 349208
Fare                   7.8958
Cabin                     NaN
Embarked                    S
Name: 77, dtype: object
Survived                           0
Pclass                             3
Name        Moutal, Mr. Rahamin Haim
Sex                             male
Age                              NaN
SibSp                              0
Parch                              0
Ticket                        374746
Fare                            8.05
Cabin                            NaN
Embarked                           S
Name: 78, dtype: object
Survived                                1
Pclass                                  2
Name        Caldwell, Master. Alden Gates
Sex                                  male
Age                                  0.83
SibSp                                   0
Parch                                   2
Ticket                             248738
Fare                                   29
Cabin                                 NaN
Embarked                                S
Name: 79, dtype: object
Survived                           1
Pclass                             3
Name        Dowdell, Miss. Elizabeth
Sex                           female
Age                               30
SibSp                              0
Parch                              0
Ticket                        364516
Fare                          12.475
Cabin                            NaN
Embarked                           S
Name: 80, dtype: object
Survived                       0
Pclass                         3
Name        Waelens, Mr. Achille
Sex                         male
Age                           22
SibSp                          0
Parch                          0
Ticket                    345767
Fare                           9
Cabin                        NaN
Embarked                       S
Name: 81, dtype: object
Survived                              1
Pclass                                3
Name        Sheerlinck, Mr. Jan Baptist
Sex                                male
Age                                  29
SibSp                                 0
Parch                                 0
Ticket                           345779
Fare                                9.5
Cabin                               NaN
Embarked                              S
Name: 82, dtype: object
Survived                                 1
Pclass                                   3
Name        McDermott, Miss. Brigdet Delia
Sex                                 female
Age                                    NaN
SibSp                                    0
Parch                                    0
Ticket                              330932
Fare                                7.7875
Cabin                                  NaN
Embarked                                 Q
Name: 83, dtype: object
Survived                          0
Pclass                            1
Name        Carrau, Mr. Francisco M
Sex                            male
Age                              28
SibSp                             0
Parch                             0
Ticket                       113059
Fare                           47.1
Cabin                           NaN
Embarked                          S
Name: 84, dtype: object
Survived                      1
Pclass                        2
Name        Ilett, Miss. Bertha
Sex                      female
Age                          17
SibSp                         0
Parch                         0
Ticket               SO/C 14885
Fare                       10.5
Cabin                       NaN
Embarked                      S
Name: 85, dtype: object
Survived                                                    1
Pclass                                                      3
Name        Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...
Sex                                                    female
Age                                                        33
SibSp                                                       3
Parch                                                       0
Ticket                                                3101278
Fare                                                    15.85
Cabin                                                     NaN
Embarked                                                    S
Name: 86, dtype: object
Survived                         0
Pclass                           3
Name        Ford, Mr. William Neal
Sex                           male
Age                             16
SibSp                            1
Parch                            3
Ticket                  W./C. 6608
Fare                        34.375
Cabin                          NaN
Embarked                         S
Name: 87, dtype: object
Survived                                0
Pclass                                  3
Name        Slocovski, Mr. Selman Francis
Sex                                  male
Age                                   NaN
SibSp                                   0
Parch                                   0
Ticket                    SOTON/OQ 392086
Fare                                 8.05
Cabin                                 NaN
Embarked                                S
Name: 88, dtype: object
Survived                             1
Pclass                               1
Name        Fortune, Miss. Mabel Helen
Sex                             female
Age                                 23
SibSp                                3
Parch                                2
Ticket                           19950
Fare                               263
Cabin                      C23 C25 C27
Embarked                             S
Name: 89, dtype: object
Survived                         0
Pclass                           3
Name        Celotti, Mr. Francesco
Sex                           male
Age                             24
SibSp                            0
Parch                            0
Ticket                      343275
Fare                          8.05
Cabin                          NaN
Embarked                         S
Name: 90, dtype: object
Survived                       0
Pclass                         3
Name        Christmann, Mr. Emil
Sex                         male
Age                           29
SibSp                          0
Parch                          0
Ticket                    343276
Fare                        8.05
Cabin                        NaN
Embarked                       S
Name: 91, dtype: object
Survived                             0
Pclass                               3
Name        Andreasson, Mr. Paul Edvin
Sex                               male
Age                                 20
SibSp                                0
Parch                                0
Ticket                          347466
Fare                            7.8542
Cabin                              NaN
Embarked                             S
Name: 92, dtype: object
Survived                              0
Pclass                                1
Name        Chaffee, Mr. Herbert Fuller
Sex                                male
Age                                  46
SibSp                                 1
Parch                                 0
Ticket                      W.E.P. 5734
Fare                             61.175
Cabin                               E31
Embarked                              S
Name: 93, dtype: object
Survived                          0
Pclass                            3
Name        Dean, Mr. Bertram Frank
Sex                            male
Age                              26
SibSp                             1
Parch                             2
Ticket                    C.A. 2315
Fare                         20.575
Cabin                           NaN
Embarked                          S
Name: 94, dtype: object
Survived                    0
Pclass                      3
Name        Coxon, Mr. Daniel
Sex                      male
Age                        59
SibSp                       0
Parch                       0
Ticket                 364500
Fare                     7.25
Cabin                     NaN
Embarked                    S
Name: 95, dtype: object
Survived                              0
Pclass                                3
Name        Shorney, Mr. Charles Joseph
Sex                                male
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           374910
Fare                               8.05
Cabin                               NaN
Embarked                              S
Name: 96, dtype: object
Survived                            0
Pclass                              1
Name        Goldschmidt, Mr. George B
Sex                              male
Age                                71
SibSp                               0
Parch                               0
Ticket                       PC 17754
Fare                          34.6542
Cabin                              A5
Embarked                            C
Name: 97, dtype: object
Survived                                  1
Pclass                                    1
Name        Greenfield, Mr. William Bertram
Sex                                    male
Age                                      23
SibSp                                     0
Parch                                     1
Ticket                             PC 17759
Fare                                63.3583
Cabin                               D10 D12
Embarked                                  C
Name: 98, dtype: object
Survived                                       1
Pclass                                         2
Name        Doling, Mrs. John T (Ada Julia Bone)
Sex                                       female
Age                                           34
SibSp                                          0
Parch                                          1
Ticket                                    231919
Fare                                          23
Cabin                                        NaN
Embarked                                       S
Name: 99, dtype: object
Survived                    0
Pclass                      2
Name        Kantor, Mr. Sinai
Sex                      male
Age                        34
SibSp                       1
Parch                       0
Ticket                 244367
Fare                       26
Cabin                     NaN
Embarked                    S
Name: 100, dtype: object
Survived                          0
Pclass                            3
Name        Petranec, Miss. Matilda
Sex                          female
Age                              28
SibSp                             0
Parch                             0
Ticket                       349245
Fare                         7.8958
Cabin                           NaN
Embarked                          S
Name: 101, dtype: object
Survived                                   0
Pclass                                     3
Name        Petroff, Mr. Pastcho ("Pentcho")
Sex                                     male
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                349215
Fare                                  7.8958
Cabin                                    NaN
Embarked                                   S
Name: 102, dtype: object
Survived                            0
Pclass                              1
Name        White, Mr. Richard Frasar
Sex                              male
Age                                21
SibSp                               0
Parch                               1
Ticket                          35281
Fare                          77.2875
Cabin                             D26
Embarked                            S
Name: 103, dtype: object
Survived                             0
Pclass                               3
Name        Johansson, Mr. Gustaf Joel
Sex                               male
Age                                 33
SibSp                                0
Parch                                0
Ticket                            7540
Fare                            8.6542
Cabin                              NaN
Embarked                             S
Name: 104, dtype: object
Survived                                 0
Pclass                                   3
Name        Gustafsson, Mr. Anders Vilhelm
Sex                                   male
Age                                     37
SibSp                                    2
Parch                                    0
Ticket                             3101276
Fare                                 7.925
Cabin                                  NaN
Embarked                                 S
Name: 105, dtype: object
Survived                        0
Pclass                          3
Name        Mionoff, Mr. Stoytcho
Sex                          male
Age                            28
SibSp                           0
Parch                           0
Ticket                     349207
Fare                       7.8958
Cabin                         NaN
Embarked                        S
Name: 106, dtype: object
Survived                                   1
Pclass                                     3
Name        Salkjelsvik, Miss. Anna Kristine
Sex                                   female
Age                                       21
SibSp                                      0
Parch                                      0
Ticket                                343120
Fare                                    7.65
Cabin                                    NaN
Embarked                                   S
Name: 107, dtype: object
Survived                         1
Pclass                           3
Name        Moss, Mr. Albert Johan
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      312991
Fare                         7.775
Cabin                          NaN
Embarked                         S
Name: 108, dtype: object
Survived                  0
Pclass                    3
Name        Rekic, Mr. Tido
Sex                    male
Age                      38
SibSp                     0
Parch                     0
Ticket               349249
Fare                 7.8958
Cabin                   NaN
Embarked                  S
Name: 109, dtype: object
Survived                      1
Pclass                        3
Name        Moran, Miss. Bertha
Sex                      female
Age                         NaN
SibSp                         1
Parch                         0
Ticket                   371110
Fare                      24.15
Cabin                       NaN
Embarked                      Q
Name: 110, dtype: object

Survived                                 0
Pclass                                   1
Name        Porter, Mr. Walter Chamberlain
Sex                                   male
Age                                     47
SibSp                                    0
Parch                                    0
Ticket                              110465
Fare                                    52
Cabin                                 C110
Embarked                                 S
Name: 111, dtype: object
Survived                       0
Pclass                         3
Name        Zabour, Miss. Hileni
Sex                       female
Age                         14.5
SibSp                          1
Parch                          0
Ticket                      2665
Fare                     14.4542
Cabin                        NaN
Embarked                       C
Name: 112, dtype: object
Survived                         0
Pclass                           3
Name        Barton, Mr. David John
Sex                           male
Age                             22
SibSp                            0
Parch                            0
Ticket                      324669
Fare                          8.05
Cabin                          NaN
Embarked                         S
Name: 113, dtype: object
Survived                          0
Pclass                            3
Name        Jussila, Miss. Katriina
Sex                          female
Age                              20
SibSp                             1
Parch                             0
Ticket                         4136
Fare                          9.825
Cabin                           NaN
Embarked                          S
Name: 114, dtype: object
Survived                        0
Pclass                          3
Name        Attalah, Miss. Malake
Sex                        female
Age                            17
SibSp                           0
Parch                           0
Ticket                       2627
Fare                      14.4583
Cabin                         NaN
Embarked                        C
Name: 115, dtype: object
Survived                        0
Pclass                          3
Name        Pekoniemi, Mr. Edvard
Sex                          male
Age                            21
SibSp                           0
Parch                           0
Ticket          STON/O 2. 3101294
Fare                        7.925
Cabin                         NaN
Embarked                        S
Name: 116, dtype: object
Survived                       0
Pclass                         3
Name        Connors, Mr. Patrick
Sex                         male
Age                         70.5
SibSp                          0
Parch                          0
Ticket                    370369
Fare                        7.75
Cabin                        NaN
Embarked                       Q
Name: 117, dtype: object
Survived                                  0
Pclass                                    2
Name        Turpin, Mr. William John Robert
Sex                                    male
Age                                      29
SibSp                                     1
Parch                                     0
Ticket                                11668
Fare                                     21
Cabin                                   NaN
Embarked                                  S
Name: 118, dtype: object
Survived                           0
Pclass                             1
Name        Baxter, Mr. Quigg Edmond
Sex                             male
Age                               24
SibSp                              0
Parch                              1
Ticket                      PC 17558
Fare                         247.521
Cabin                        B58 B60
Embarked                           C
Name: 119, dtype: object
Survived                                    0
Pclass                                      3
Name        Andersson, Miss. Ellis Anna Maria
Sex                                    female
Age                                         2
SibSp                                       4
Parch                                       2
Ticket                                 347082
Fare                                   31.275
Cabin                                     NaN
Embarked                                    S
Name: 120, dtype: object
Survived                              0
Pclass                                2
Name        Hickman, Mr. Stanley George
Sex                                male
Age                                  21
SibSp                                 2
Parch                                 0
Ticket                     S.O.C. 14879
Fare                               73.5
Cabin                               NaN
Embarked                              S
Name: 121, dtype: object
Survived                             0
Pclass                               3
Name        Moore, Mr. Leonard Charles
Sex                               male
Age                                NaN
SibSp                                0
Parch                                0
Ticket                       A4. 54510
Fare                              8.05
Cabin                              NaN
Embarked                             S
Name: 122, dtype: object
Survived                       0
Pclass                         2
Name        Nasser, Mr. Nicholas
Sex                         male
Age                         32.5
SibSp                          1
Parch                          0
Ticket                    237736
Fare                     30.0708
Cabin                        NaN
Embarked                       C
Name: 123, dtype: object
Survived                      1
Pclass                        2
Name        Webber, Miss. Susan
Sex                      female
Age                        32.5
SibSp                         0
Parch                         0
Ticket                    27267
Fare                         13
Cabin                      E101
Embarked                      S
Name: 124, dtype: object
Survived                              0
Pclass                                1
Name        White, Mr. Percival Wayland
Sex                                male
Age                                  54
SibSp                                 0
Parch                                 1
Ticket                            35281
Fare                            77.2875
Cabin                               D26
Embarked                              S
Name: 125, dtype: object
Survived                               1
Pclass                                 3
Name        Nicola-Yarred, Master. Elias
Sex                                 male
Age                                   12
SibSp                                  1
Parch                                  0
Ticket                              2651
Fare                             11.2417
Cabin                                NaN
Embarked                               C
Name: 126, dtype: object
Survived                      0
Pclass                        3
Name        McMahon, Mr. Martin
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   370372
Fare                       7.75
Cabin                       NaN
Embarked                      Q
Name: 127, dtype: object
Survived                            1
Pclass                              3
Name        Madsen, Mr. Fridtjof Arne
Sex                              male
Age                                24
SibSp                               0
Parch                               0
Ticket                        C 17369
Fare                           7.1417
Cabin                             NaN
Embarked                            S
Name: 128, dtype: object
Survived                    1
Pclass                      3
Name        Peter, Miss. Anna
Sex                    female
Age                       NaN
SibSp                       1
Parch                       1
Ticket                   2668
Fare                  22.3583
Cabin                   F E69
Embarked                    C
Name: 129, dtype: object
Survived                     0
Pclass                       3
Name        Ekstrom, Mr. Johan
Sex                       male
Age                         45
SibSp                        0
Parch                        0
Ticket                  347061
Fare                     6.975
Cabin                      NaN
Embarked                     S
Name: 130, dtype: object
Survived                       0
Pclass                         3
Name        Drazenoic, Mr. Jozef
Sex                         male
Age                           33
SibSp                          0
Parch                          0
Ticket                    349241
Fare                      7.8958
Cabin                        NaN
Embarked                       C
Name: 131, dtype: object
Survived                                 0
Pclass                                   3
Name        Coelho, Mr. Domingos Fernandeo
Sex                                   male
Age                                     20
SibSp                                    0
Parch                                    0
Ticket                  SOTON/O.Q. 3101307
Fare                                  7.05
Cabin                                  NaN
Embarked                                 S
Name: 132, dtype: object
Survived                                                 0
Pclass                                                   3
Name        Robins, Mrs. Alexander A (Grace Charity Laury)
Sex                                                 female
Age                                                     47
SibSp                                                    1
Parch                                                    0
Ticket                                           A/5. 3337
Fare                                                  14.5
Cabin                                                  NaN
Embarked                                                 S
Name: 133, dtype: object
Survived                                                1
Pclass                                                  2
Name        Weisz, Mrs. Leopold (Mathilde Francoise Pede)
Sex                                                female
Age                                                    29
SibSp                                                   1
Parch                                                   0
Ticket                                             228414
Fare                                                   26
Cabin                                                 NaN
Embarked                                                S
Name: 134, dtype: object
Survived                                 0
Pclass                                   2
Name        Sobey, Mr. Samuel James Hayden
Sex                                   male
Age                                     25
SibSp                                    0
Parch                                    0
Ticket                          C.A. 29178
Fare                                    13
Cabin                                  NaN
Embarked                                 S
Name: 135, dtype: object
Survived                     0
Pclass                       2
Name        Richard, Mr. Emile
Sex                       male
Age                         23
SibSp                        0
Parch                        0
Ticket           SC/PARIS 2133
Fare                   15.0458
Cabin                      NaN
Embarked                     C
Name: 136, dtype: object
Survived                               1
Pclass                                 1
Name        Newsom, Miss. Helen Monypeny
Sex                               female
Age                                   19
SibSp                                  0
Parch                                  2
Ticket                             11752
Fare                             26.2833
Cabin                                D47
Embarked                               S
Name: 137, dtype: object
Survived                              0
Pclass                                1
Name        Futrelle, Mr. Jacques Heath
Sex                                male
Age                                  37
SibSp                                 1
Parch                                 0
Ticket                           113803
Fare                               53.1
Cabin                              C123
Embarked                              S
Name: 138, dtype: object
Survived                      0
Pclass                        3
Name        Osen, Mr. Olaf Elon
Sex                        male
Age                          16
SibSp                         0
Parch                         0
Ticket                     7534
Fare                     9.2167
Cabin                       NaN
Embarked                      S
Name: 139, dtype: object
Survived                     0
Pclass                       1
Name        Giglio, Mr. Victor
Sex                       male
Age                         24
SibSp                        0
Parch                        0
Ticket                PC 17593
Fare                      79.2
Cabin                      B86
Embarked                     C
Name: 140, dtype: object
Survived                                0
Pclass                                  3
Name        Boulos, Mrs. Joseph (Sultana)
Sex                                female
Age                                   NaN
SibSp                                   0
Parch                                   2
Ticket                               2678
Fare                              15.2458
Cabin                                 NaN
Embarked                                C
Name: 141, dtype: object
Survived                           1
Pclass                             3
Name        Nysten, Miss. Anna Sofia
Sex                           female
Age                               22
SibSp                              0
Parch                              0
Ticket                        347081
Fare                            7.75
Cabin                            NaN
Embarked                           S
Name: 142, dtype: object
Survived                                                    1
Pclass                                                      3
Name        Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...
Sex                                                    female
Age                                                        24
SibSp                                                       1
Parch                                                       0
Ticket                                       STON/O2. 3101279
Fare                                                    15.85
Cabin                                                     NaN
Embarked                                                    S
Name: 143, dtype: object
Survived                      0
Pclass                        3
Name        Burke, Mr. Jeremiah
Sex                        male
Age                          19
SibSp                         0
Parch                         0
Ticket                   365222
Fare                       6.75
Cabin                       NaN
Embarked                      Q
Name: 144, dtype: object
Survived                             0
Pclass                               2
Name        Andrew, Mr. Edgardo Samuel
Sex                               male
Age                                 18
SibSp                                0
Parch                                0
Ticket                          231945
Fare                              11.5
Cabin                              NaN
Embarked                             S
Name: 145, dtype: object
Survived                               0
Pclass                                 2
Name        Nicholls, Mr. Joseph Charles
Sex                                 male
Age                                   19
SibSp                                  1
Parch                                  1
Ticket                        C.A. 33112
Fare                               36.75
Cabin                                NaN
Embarked                               S
Name: 146, dtype: object
Survived                                               1
Pclass                                                 3
Name        Andersson, Mr. August Edvard ("Wennerstrom")
Sex                                                 male
Age                                                   27
SibSp                                                  0
Parch                                                  0
Ticket                                            350043
Fare                                              7.7958
Cabin                                                NaN
Embarked                                               S
Name: 147, dtype: object
Survived                                   0
Pclass                                     3
Name        Ford, Miss. Robina Maggie "Ruby"
Sex                                   female
Age                                        9
SibSp                                      2
Parch                                      2
Ticket                            W./C. 6608
Fare                                  34.375
Cabin                                    NaN
Embarked                                   S
Name: 148, dtype: object
Survived                                           0
Pclass                                             2
Name        Navratil, Mr. Michel ("Louis M Hoffman")
Sex                                             male
Age                                             36.5
SibSp                                              0
Parch                                              2
Ticket                                        230080
Fare                                              26
Cabin                                             F2
Embarked                                           S
Name: 149, dtype: object
Survived                                    0
Pclass                                      2
Name        Byles, Rev. Thomas Roussel Davids
Sex                                      male
Age                                        42
SibSp                                       0
Parch                                       0
Ticket                                 244310
Fare                                       13
Cabin                                     NaN
Embarked                                    S
Name: 150, dtype: object
Survived                             0
Pclass                               2
Name        Bateman, Rev. Robert James
Sex                               male
Age                                 51
SibSp                                0
Parch                                0
Ticket                     S.O.P. 1166
Fare                            12.525
Cabin                              NaN
Embarked                             S
Name: 151, dtype: object
Survived                                    1
Pclass                                      1
Name        Pears, Mrs. Thomas (Edith Wearne)
Sex                                    female
Age                                        22
SibSp                                       1
Parch                                       0
Ticket                                 113776
Fare                                     66.6
Cabin                                      C2
Embarked                                    S
Name: 152, dtype: object
Survived                   0
Pclass                     3
Name        Meo, Mr. Alfonzo
Sex                     male
Age                     55.5
SibSp                      0
Parch                      0
Ticket            A.5. 11206
Fare                    8.05
Cabin                    NaN
Embarked                   S
Name: 153, dtype: object
Survived                                  0
Pclass                                    3

Survived                        0
Pclass                          1
Name        Rood, Mr. Hugh Roscoe
Sex                          male
Age                           NaN
SibSp                           0
Parch                           0
Ticket                     113767
Fare                           50
Cabin                         A32
Embarked                        S
Name: 186, dtype: object
Survived                                                  1
Pclass                                                    3
Name        O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)
Sex                                                  female
Age                                                     NaN
SibSp                                                     1
Parch                                                     0
Ticket                                               370365
Fare                                                   15.5
Cabin                                                   NaN
Embarked                                                  Q
Name: 187, dtype: object
Survived                                                1
Pclass                                                  1
Name        Romaine, Mr. Charles Hallace ("Mr C Rolmane")
Sex                                                  male
Age                                                    45
SibSp                                                   0
Parch                                                   0
Ticket                                             111428
Fare                                                26.55
Cabin                                                 NaN
Embarked                                                S
Name: 188, dtype: object
Survived                   0
Pclass                     3
Name        Bourke, Mr. John
Sex                     male
Age                       40
SibSp                      1
Parch                      1
Ticket                364849
Fare                    15.5
Cabin                    NaN
Embarked                   Q
Name: 189, dtype: object
Survived                      0
Pclass                        3
Name        Turcin, Mr. Stjepan
Sex                        male
Age                          36
SibSp                         0
Parch                         0
Ticket                   349247
Fare                     7.8958
Cabin                       NaN
Embarked                      S
Name: 190, dtype: object
Survived                      1
Pclass                        2
Name        Pinsky, Mrs. (Rosa)
Sex                      female
Age                          32
SibSp                         0
Parch                         0
Ticket                   234604
Fare                         13
Cabin                       NaN
Embarked                      S
Name: 191, dtype: object
Survived                        0
Pclass                          2
Name        Carbines, Mr. William
Sex                          male
Age                            19
SibSp                           0
Parch                           0
Ticket                      28424
Fare                           13
Cabin                         NaN
Embarked                        S
Name: 192, dtype: object
Survived                                                  1
Pclass                                                    3
Name        Andersen-Jensen, Miss. Carla Christine Nielsine
Sex                                                  female
Age                                                      19
SibSp                                                     1
Parch                                                     0
Ticket                                               350046
Fare                                                 7.8542
Cabin                                                   NaN
Embarked                                                  S
Name: 193, dtype: object
Survived                             1
Pclass                               2
Name        Navratil, Master. Michel M
Sex                               male
Age                                  3
SibSp                                1
Parch                                1
Ticket                          230080
Fare                                26
Cabin                               F2
Embarked                             S
Name: 194, dtype: object
Survived                                            1
Pclass                                              1
Name        Brown, Mrs. James Joseph (Margaret Tobin)
Sex                                            female
Age                                                44
SibSp                                               0
Parch                                               0
Ticket                                       PC 17610
Fare                                          27.7208
Cabin                                              B4
Embarked                                            C
Name: 195, dtype: object
Survived                       1
Pclass                         1
Name        Lurette, Miss. Elise
Sex                       female
Age                           58
SibSp                          0
Parch                          0
Ticket                  PC 17569
Fare                     146.521
Cabin                        B80
Embarked                       C
Name: 196, dtype: object
Survived                      0
Pclass                        3
Name        Mernagh, Mr. Robert
Sex                        male
Age                         NaN
SibSp                         0
Parch                         0
Ticket                   368703
Fare                       7.75
Cabin                       NaN
Embarked                      Q
Name: 197, dtype: object
Survived                                   0
Pclass                                     3
Name        Olsen, Mr. Karl Siegwart Andreas
Sex                                     male
Age                                       42
SibSp                                      0
Parch                                      1
Ticket                                  4579
Fare                                  8.4042
Cabin                                    NaN
Embarked                                   S
Name: 198, dtype: object
Survived                                   1
Pclass                                     3
Name        Madigan, Miss. Margaret "Maggie"
Sex                                   female
Age                                      NaN
SibSp                                      0
Parch                                      0
Ticket                                370370
Fare                                    7.75
Cabin                                    NaN
Embarked                                   Q
Name: 199, dtype: object
Survived                                         0
Pclass                                           2
Name        Yrois, Miss. Henriette ("Mrs Harbeck")
Sex                                         female
Age                                             24
SibSp                                            0
Parch                                            0
Ticket                                      248747
Fare                                            13
Cabin                                          NaN
Embarked                                         S
Name: 200, dtype: object
Survived                                 0
Pclass                                   3
Name        Vande Walle, Mr. Nestor Cyriel
Sex                                   male
Age                                     28
SibSp                                    0
Parch                                    0
Ticket                              345770
Fare                                   9.5
Cabin                                  NaN
Embarked                                 S
Name: 201, dtype: object
Survived                      0
Pclass                        3
Name        Sage, Mr. Frederick
Sex                        male
Age                         NaN
SibSp                         8
Parch                         2
Ticket                 CA. 2343
Fare                      69.55
Cabin                       NaN
Embarked                      S
Name: 202, dtype: object
Survived                             0
Pclass                               3
Name        Johanson, Mr. Jakob Alfred
Sex                               male
Age                                 34
SibSp                                0
Parch                                0
Ticket                         3101264
Fare                            6.4958
Cabin                              NaN
Embarked                             S
Name: 203, dtype: object
Survived                       0
Pclass                         3
Name        Youseff, Mr. Gerious
Sex                         male
Age                         45.5
SibSp                          0
Parch                          0
Ticket                      2628
Fare                       7.225
Cabin                        NaN
Embarked                       C
Name: 204, dtype: object
Survived                           1
Pclass                             3
Name        Cohen, Mr. Gurshon "Gus"
Sex                             male
Age                               18
SibSp                              0
Parch                              0
Ticket                      A/5 3540
Fare                            8.05
Cabin                            NaN
Embarked                           S
Name: 205, dtype: object
Survived                             0
Pclass                               3
Name        Strom, Miss. Telma Matilda
Sex                             female
Age                                  2
SibSp                                0
Parch                                1
Ticket                          347054
Fare                           10.4625
Cabin                               G6
Embarked                             S
Name: 206, dtype: object
Survived                             0
Pclass                               3
Name        Backstrom, Mr. Karl Alfred
Sex                               male
Age                                 32
SibSp                                1
Parch                                0
Ticket                         3101278
Fare                             15.85
Cabin                              NaN
Embarked                             S
Name: 207, dtype: object
Survived                              1
Pclass                                3
Name        Albimona, Mr. Nassef Cassem
Sex                                male
Age                                  26
SibSp                                 0
Parch                                 0
Ticket                             2699
Fare                            18.7875
Cabin                               NaN
Embarked                              C
Name: 208, dtype: object
Survived                            1
Pclass                              3
Name        Carr, Miss. Helen "Ellen"
Sex                            female
Age                                16
SibSp                               0
Parch                               0
Ticket                         367231
Fare                             7.75
Cabin                             NaN
Embarked                            Q
Name: 209, dtype: object
Survived                   1
Pclass                     1
Name        Blank, Mr. Henry
Sex                     male
Age                       40
SibSp                      0
Parch                      0
Ticket                112277
Fare                      31
Cabin                    A31
Embarked                   C
Name: 210, dtype: object
Survived                     0
Pclass                       3
Name            Ali, Mr. Ahmed
Sex                       male
Age                         24
SibSp                        0
Parch                        0
Ticket      SOTON/O.Q. 3101311
Fare                      7.05
Cabin                      NaN
Embarked                     S
Name: 211, dtype: object
Survived                             1
Pclass                               2
Name        Cameron, Miss. Clear Annie
Sex                             female
Age                                 35
SibSp                                0
Parch                                0
Ticket                    F.C.C. 13528
Fare                                21
Cabin                              NaN
Embarked                             S
Name: 212, dtype: object
Survived                         0
Pclass                           3
Name        Perkin, Mr. John Henry
Sex                           male
Age                             22
SibSp                            0
Parch                            0
Ticket                   A/5 21174
Fare                          7.25
Cabin                          NaN
Embarked                         S
Name: 213, dtype: object
Survived                              0
Pclass                                2
Name        Givard, Mr. Hans Kristensen
Sex                                male
Age                                  30
SibSp                                 0
Parch                                 0
Ticket                           250646
Fare                                 13
Cabin                               NaN
Embarked                              S
Name: 214, dtype: object
Survived                      0
Pclass                        3
Name        Kiernan, Mr. Philip
Sex                        male
Age                         NaN
SibSp                         1
Parch                         0
Ticket                   367229
Fare                       7.75
Cabin                       NaN
Embarked                      Q
Name: 215, dtype: object
Survived                          1
Pclass                            1
Name        Newell, Miss. Madeleine
Sex                          female
Age                              31
SibSp                             1
Parch                             0
Ticket                        35273
Fare                        113.275
Cabin                           D36
Embarked                          C
Name: 216, dtype: object
Survived                         1
Pclass                           3
Name        Honkanen, Miss. Eliina
Sex                         female
Age                             27
SibSp                            0
Parch                            0
Ticket            STON/O2. 3101283
Fare                         7.925
Cabin                          NaN
Embarked                         S
Name: 217, dtype: object
Survived                               0
Pclass                                 2
Name        Jacobsohn, Mr. Sidney Samuel
Sex                                 male
Age                                   42
SibSp                                  1
Parch                                  0
Ticket                            243847
Fare                                  27
Cabin                                NaN
Embarked                               S
Name: 218, dtype: object
Survived                        1
Pclass                          1
Name        Bazzani, Miss. Albina
Sex                        female
Age                            32
SibSp                           0
Parch                           0
Ticket                      11813
Fare                      76.2917
Cabin                         D15
Embarked                        C
Name: 219, dtype: object
Survived                     0
Pclass                       2
Name        Harris, Mr. Walter
Sex                       male
Age                         30
SibSp                        0
Parch                        0
Ticket               W/C 14208
Fare                      10.5
Cabin                      NaN
Embarked                     S
Name: 220, dtype: object
Survived                                 1
Pclass                                   3
Name        Sunderland, Mr. Victor Francis
Sex                                   male
Age                                     16
SibSp                                    0
Parch                                    0
Ticket                     SOTON/OQ 392089
Fare                                  8.05
Cabin                                  NaN
Embarked                                 S
Name: 221, dtype: object
Survived                       0
Pclass                         2
Name        Bracken, Mr. James H
Sex                         male
Age                           27
SibSp                          0
Parch                          0
Ticket                    220367
Fare                          13
Cabin                        NaN
Embarked                       S
Name: 222, dtype: object
Survived                          0
Pclass                            3
Name        Green, Mr. George Henry
Sex                            male
Age                              51
SibSp                             0
Parch                             0
Ticket                        21440
Fare                           8.05
Cabin                           NaN
Embarked                          S
Name: 223, dtype: object
Survived                       0
Pclass                         3
Name        Nenkoff, Mr. Christo
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                    349234
Fare                      7.8958
Cabin                        NaN
Embarked                       S
Name: 224, dtype: object
Survived                               1
Pclass                                 1
Name        Hoyt, Mr. Frederick Maxfield
Sex                                 male
Age                                   38
SibSp                                  1
Parch                                  0
Ticket                             19943
Fare                                  90
Cabin                                C93
Embarked                               S
Name: 225, dtype: object
Survived                               0
Pclass                                 3
Name        Berglund, Mr. Karl Ivar Sven
Sex                                 male
Age                                   22
SibSp                                  0
Parch                                  0
Ticket                           PP 4348
Fare                                9.35
Cabin                                NaN
Embarked                               S
Name: 226, dtype: object
Survived                            1
Pclass                              2
Name        Mellors, Mr. William John
Sex                              male
Age                                19
SibSp                               0
Parch                               0
Ticket                      SW/PP 751
Fare                             10.5
Cabin                             NaN
Embarked                            S
Name: 227, dtype: object
Survived                                  0
Pclass                                    3
Name        Lovell, Mr. John Hall ("Henry")
Sex                                    male
Age                                    20.5
SibSp                                     0
Parch                                     0
Ticket                            A/5 21173
Fare                                   7.25
Cabin                                   NaN
Embarked                                  S
Name: 228, dtype: object
Survived                            0
Pclass                              2
Name        Fahlstrom, Mr. Arne Jonas
Sex                              male
Age                                18
SibSp                               0
Parch                               0
Ticket                         236171
Fare                               13
Cabin                             NaN
Embarked                            S
Name: 229, dtype: object
Survived                          0
Pclass                            3
Name        Lefebre, Miss. Mathilde

Name: 368, dtype: object
Survived                      1
Pclass                        3
Name        Jermyn, Miss. Annie
Sex                      female
Age                         NaN
SibSp                         0
Parch                         0
Ticket                    14313
Fare                       7.75
Cabin                       NaN
Embarked                      Q
Name: 369, dtype: object
Survived                                1
Pclass                                  1
Name        Aubart, Mme. Leontine Pauline
Sex                                female
Age                                    24
SibSp                                   0
Parch                                   0
Ticket                           PC 17477
Fare                                 69.3
Cabin                                 B35
Embarked                                C
Name: 370, dtype: object
Survived                              1
Pclass                                1
Name        Harder, Mr. George Achilles
Sex                                male
Age                                  25
SibSp                                 1
Parch                                 0
Ticket                            11765
Fare                            55.4417
Cabin                               E50
Embarked                              C
Name: 371, dtype: object
Survived                            0
Pclass                              3
Name        Wiklund, Mr. Jakob Alfred
Sex                              male
Age                                18
SibSp                               1
Parch                               0
Ticket                        3101267
Fare                           6.4958
Cabin                             NaN
Embarked                            S
Name: 372, dtype: object
Survived                             0
Pclass                               3
Name        Beavan, Mr. William Thomas
Sex                               male
Age                                 19
SibSp                                0
Parch                                0
Ticket                          323951
Fare                              8.05
Cabin                              NaN
Embarked                             S
Name: 373, dtype: object
Survived                      0
Pclass                        1
Name        Ringhini, Mr. Sante
Sex                        male
Age                          22
SibSp                         0
Parch                         0
Ticket                 PC 17760
Fare                    135.633
Cabin                       NaN
Embarked                      C
Name: 374, dtype: object
Survived                             0
Pclass                               3
Name        Palsson, Miss. Stina Viola
Sex                             female
Age                                  3
SibSp                                3
Parch                                1
Ticket                          349909
Fare                            21.075
Cabin                              NaN
Embarked                             S
Name: 375, dtype: object
Survived                                        1
Pclass                                          1
Name        Meyer, Mrs. Edgar Joseph (Leila Saks)
Sex                                        female
Age                                           NaN
SibSp                                           1
Parch                                           0
Ticket                                   PC 17604
Fare                                      82.1708
Cabin                                         NaN
Embarked                                        C
Name: 376, dtype: object
Survived                                  1
Pclass                                    3
Name        Landergren, Miss. Aurora Adelia
Sex                                  female
Age                                      22
SibSp                                     0
Parch                                     0
Ticket                               C 7077
Fare                                   7.25
Cabin                                   NaN
Embarked                                  S
Name: 377, dtype: object
Survived                            0
Pclass                              1
Name        Widener, Mr. Harry Elkins
Sex                              male
Age                                27
SibSp                               0
Parch                               2
Ticket                         113503
Fare                            211.5
Cabin                             C82
Embarked                            C
Name: 378, dtype: object
Survived                      0
Pclass                        3
Name        Betros, Mr. Tannous
Sex                        male
Age                          20
SibSp                         0
Parch                         0
Ticket                     2648
Fare                     4.0125
Cabin                       NaN
Embarked                      C
Name: 379, dtype: object
Survived                              0
Pclass                                3
Name        Gustafsson, Mr. Karl Gideon
Sex                                male
Age                                  19
SibSp                                 0
Parch                                 0
Ticket                           347069
Fare                              7.775
Cabin                               NaN
Embarked                              S
Name: 380, dtype: object
Survived                        1
Pclass                          1
Name        Bidois, Miss. Rosalie
Sex                        female
Age                            42
SibSp                           0
Parch                           0
Ticket                   PC 17757
Fare                      227.525
Cabin                         NaN
Embarked                        C
Name: 381, dtype: object
Survived                              1
Pclass                                3
Name        Nakid, Miss. Maria ("Mary")
Sex                              female
Age                                   1
SibSp                                 0
Parch                                 2
Ticket                             2653
Fare                            15.7417
Cabin                               NaN
Embarked                              C
Name: 382, dtype: object
Survived                     0
Pclass                       3
Name        Tikkanen, Mr. Juho
Sex                       male
Age                         32
SibSp                        0
Parch                        0
Ticket       STON/O 2. 3101293
Fare                     7.925
Cabin                      NaN
Embarked                     S
Name: 383, dtype: object
Survived                                                    1
Pclass                                                      1
Name        Holverson, Mrs. Alexander Oskar (Mary Aline To...
Sex                                                    female
Age                                                        35
SibSp                                                       1
Parch                                                       0
Ticket                                                 113789
Fare                                                       52
Cabin                                                     NaN
Embarked                                                    S
Name: 384, dtype: object
Survived                         0
Pclass                           3
Name        Plotcharsky, Mr. Vasil
Sex                           male
Age                            NaN
SibSp                            0
Parch                            0
Ticket                      349227
Fare                        7.8958
Cabin                          NaN
Embarked                         S
Name: 385, dtype: object
Survived                            0
Pclass                              2
Name        Davies, Mr. Charles Henry
Sex                              male
Age                                18
SibSp                               0
Parch                               0
Ticket                   S.O.C. 14879
Fare                             73.5
Cabin                             NaN
Embarked                            S
Name: 386, dtype: object
Survived                                  0
Pclass                                    3
Name        Goodwin, Master. Sidney Leonard
Sex                                    male
Age                                       1
SibSp                                     5
Parch                                     2
Ticket                              CA 2144
Fare                                   46.9
Cabin                                   NaN
Embarked                                  S
Name: 387, dtype: object
Survived                   1
Pclass                     2
Name        Buss, Miss. Kate
Sex                   female
Age                       36
SibSp                      0
Parch                      0
Ticket                 27849
Fare                      13
Cabin                    NaN
Embarked                   S
Name: 388, dtype: object
Survived                       0
Pclass                         3
Name        Sadlier, Mr. Matthew
Sex                         male
Age                          NaN
SibSp                          0
Parch                          0
Ticket                    367655
Fare                      7.7292
Cabin                        NaN
Embarked                       Q
Name: 389, dtype: object
Survived                        1
Pclass                          2
Name        Lehmann, Miss. Bertha
Sex                        female
Age                            17
SibSp                           0
Parch                           0
Ticket                    SC 1748
Fare                           12
Cabin                         NaN
Embarked                        C
Name: 390, dtype: object
Survived                             1
Pclass                               1
Name        Carter, Mr. William Ernest
Sex                               male
Age                                 36
SibSp                                1
Parch                                2
Ticket                          113760
Fare                               120
Cabin                          B96 B98
Embarked                             S
Name: 391, dtype: object
Survived                         1
Pclass                           3
Name        Jansson, Mr. Carl Olof
Sex                           male
Age                             21
SibSp                            0
Parch                            0
Ticket                      350034
Fare                        7.7958
Cabin                          NaN
Embarked                         S
Name: 392, dtype: object
Survived                               0
Pclass                                 3
Name        Gustafsson, Mr. Johan Birger
Sex                                 male
Age                                   28
SibSp                                  2
Parch                                  0
Ticket                           3101277
Fare                               7.925
Cabin                                NaN
Embarked                               S
Name: 393, dtype: object
Survived                         1
Pclass                           1
Name        Newell, Miss. Marjorie
Sex                         female
Age                             23
SibSp                            1
Parch                            0
Ticket                       35273
Fare                       113.275
Cabin                          D36
Embarked                         C
Name: 394, dtype: object
Survived                                                    1
Pclass                                                      3
Name        Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengt...
Sex                                                    female
Age                                                        24
SibSp                                                       0
Parch                                                       2
Ticket                                                PP 9549
Fare                                                     16.7
Cabin                                                      G6
Embarked                                                    S
Name: 395, dtype: object
Survived                      0
Pclass                        3
Name        Johansson, Mr. Erik
Sex                        male
Age                          22
SibSp                         0
Parch                         0
Ticket                   350052
Fare                     7.7958
Cabin                       NaN
Embarked                      S
Name: 396, dtype: object
Survived                      0
Pclass                        3
Name        Olsson, Miss. Elina
Sex                      female
Age                          31
SibSp                         0
Parch                         0
Ticket                   350407
Fare                     7.8542
Cabin                       NaN
Embarked                      S
Name: 397, dtype: object
Survived                          0
Pclass                            2
Name        McKane, Mr. Peter David
Sex                            male
Age                              46
SibSp                             0
Parch                             0
Ticket                        28403
Fare                             26
Cabin                           NaN
Embarked                          S
Name: 398, dtype: object
Survived                   0
Pclass                     2
Name        Pain, Dr. Alfred
Sex                     male
Age                       23
SibSp                      0
Parch                      0
Ticket                244278
Fare                    10.5
Cabin                    NaN
Embarked                   S
Name: 399, dtype: object
Survived                                   1
Pclass                                     2
Name        Trout, Mrs. William H (Jessie L)
Sex                                   female
Age                                       28
SibSp                                      0
Parch                                      0
Ticket                                240929
Fare                                   12.65
Cabin                                    NaN
Embarked                                   S
Name: 400, dtype: object
Survived                     1
Pclass                       3
Name        Niskanen, Mr. Juha
Sex                       male
Age                         39
SibSp                        0
Parch                        0
Ticket       STON/O 2. 3101289
Fare                     7.925
Cabin                      NaN
Embarked                     S
Name: 401, dtype: object
Survived                  0
Pclass                    3
Name        Adams, Mr. John
Sex                    male
Age                      26
SibSp                     0
Parch                     0
Ticket               341826
Fare                   8.05
Cabin                   NaN
Embarked                  S
Name: 402, dtype: object
Survived                           0
Pclass                             3
Name        Jussila, Miss. Mari Aina
Sex                           female
Age                               21
SibSp                              1
Parch                              0
Ticket                          4137
Fare                           9.825
Cabin                            NaN
Embarked                           S
Name: 403, dtype: object
Survived                                 0
Pclass                                   3
Name        Hakkarainen, Mr. Pekka Pietari
Sex                                   male
Age                                     28
SibSp                                    1
Parch                                    0
Ticket                    STON/O2. 3101279
Fare                                 15.85
Cabin                                  NaN
Embarked                                 S
Name: 404, dtype: object
Survived                          0
Pclass                            3
Name        Oreskovic, Miss. Marija
Sex                          female
Age                              20
SibSp                             0
Parch                             0
Ticket                       315096
Fare                         8.6625
Cabin                           NaN
Embarked                          S
Name: 405, dtype: object
Survived                     0
Pclass                       2
Name        Gale, Mr. Shadrach
Sex                       male
Age                         34
SibSp                        1
Parch                        0
Ticket                   28664
Fare                        21
Cabin                      NaN
Embarked                     S
Name: 406, dtype: object
Survived                                   0
Pclass                                     3
Name        Widegren, Mr. Carl/Charles Peter
Sex                                     male
Age                                       51
SibSp                                      0
Parch                                      0
Ticket                                347064
Fare                                    7.75
Cabin                                    NaN
Embarked                                   S
Name: 407, dtype: object
Survived                                 1
Pclass                                   2
Name        Richards, Master. William Rowe
Sex                                   male
Age                                      3
SibSp                                    1
Parch                                    1
Ticket                               29106
Fare                                 18.75
Cabin                                  NaN
Embarked                                 S
Name: 408, dtype: object
Survived                                    0
Pclass                                      3
Name        Birkeland, Mr. Hans Martin Monsen
Sex                                      male
Age                                        21
SibSp                                       0
Parch                                       0
Ticket                                 312992
Fare                                    7.775
Cabin                                     NaN
Embarked                                    S
Name: 409, dtype: object
Survived                     0
Pclass                       3
Name        Lefebre, Miss. Ida
Sex                     female
Age                        NaN
SibSp                        3
Parch                        1
Ticket                    4133
Fare                   25.4667
Cabin                      NaN
Embarked                     S
Name: 410, dtype: object
Survived                     0
Pclass                       3
Name        Sdycoff, Mr. Todor
Sex                       male
Age                        NaN
SibSp                        0
Parch                        0
Ticket                  349222
Fare                    7.8958
Cabin                      NaN
Embarked                     S
Name: 411, dtype: object
Survived                  0
Pclass                    3
Name        Hart, Mr. Henry
Sex                    male
Age                     NaN
SibSp                     0
Parch                     0
Ticket               394140
Fare                 6.8583
Cabin                   NaN
Embarked                  Q
Name: 412, dtype: object
Survived                         1
Pclass                           1
Name        Minahan, Miss. Daisy E
Sex                         female
Age                             33
SibSp                            1
Parch                            0
Ticket                       19928
Fare                            90
Cabin                          C78
Embarked                         Q
Name: 413, dtype: object
Survived                                 0
Pclass                                   2
Name        Cunningham, Mr. Alfred Fleming
Sex                                   male

Name: 845, dtype: object
Survived                      0
Pclass                        3
Name        Abbing, Mr. Anthony
Sex                        male
Age                          42
SibSp                         0
Parch                         0
Ticket                C.A. 5547
Fare                       7.55
Cabin                       NaN
Embarked                      S
Name: 846, dtype: object
Survived                           0
Pclass                             3
Name        Sage, Mr. Douglas Bullen
Sex                             male
Age                              NaN
SibSp                              8
Parch                              2
Ticket                      CA. 2343
Fare                           69.55
Cabin                            NaN
Embarked                           S
Name: 847, dtype: object
Survived                     0
Pclass                       3
Name        Markoff, Mr. Marin
Sex                       male
Age                         35
SibSp                        0
Parch                        0
Ticket                  349213
Fare                    7.8958
Cabin                      NaN
Embarked                     C
Name: 848, dtype: object
Survived                    0
Pclass                      2
Name        Harper, Rev. John
Sex                      male
Age                        28
SibSp                       0
Parch                       1
Ticket                 248727
Fare                       33
Cabin                     NaN
Embarked                    S
Name: 849, dtype: object
Survived                                               1
Pclass                                                 1
Name        Goldenberg, Mrs. Samuel L (Edwiga Grabowska)
Sex                                               female
Age                                                  NaN
SibSp                                                  1
Parch                                                  0
Ticket                                             17453
Fare                                             89.1042
Cabin                                                C92
Embarked                                               C
Name: 850, dtype: object
Survived                                          0
Pclass                                            3
Name        Andersson, Master. Sigvard Harald Elias
Sex                                            male
Age                                               4
SibSp                                             4
Parch                                             2
Ticket                                       347082
Fare                                         31.275
Cabin                                           NaN
Embarked                                          S
Name: 851, dtype: object
Survived                      0
Pclass                        3
Name        Svensson, Mr. Johan
Sex                        male
Age                          74
SibSp                         0
Parch                         0
Ticket                   347060
Fare                      7.775
Cabin                       NaN
Embarked                      S
Name: 852, dtype: object
Survived                          0
Pclass                            3
Name        Boulos, Miss. Nourelain
Sex                          female
Age                               9
SibSp                             1
Parch                             1
Ticket                         2678
Fare                        15.2458
Cabin                           NaN
Embarked                          C
Name: 853, dtype: object
Survived                            1
Pclass                              1
Name        Lines, Miss. Mary Conover
Sex                            female
Age                                16
SibSp                               0
Parch                               1
Ticket                       PC 17592
Fare                             39.4
Cabin                             D28
Embarked                            S
Name: 854, dtype: object
Survived                                                0
Pclass                                                  2
Name        Carter, Mrs. Ernest Courtenay (Lilian Hughes)
Sex                                                female
Age                                                    44
SibSp                                                   1
Parch                                                   0
Ticket                                             244252
Fare                                                   26
Cabin                                                 NaN
Embarked                                                S
Name: 855, dtype: object
Survived                             1
Pclass                               3
Name        Aks, Mrs. Sam (Leah Rosen)
Sex                             female
Age                                 18
SibSp                                0
Parch                                1
Ticket                          392091
Fare                              9.35
Cabin                              NaN
Embarked                             S
Name: 856, dtype: object
Survived                                             1
Pclass                                               1
Name        Wick, Mrs. George Dennick (Mary Hitchcock)
Sex                                             female
Age                                                 45
SibSp                                                1
Parch                                                1
Ticket                                           36928
Fare                                           164.867
Cabin                                              NaN
Embarked                                             S
Name: 857, dtype: object
Survived                         1
Pclass                           1
Name        Daly, Mr. Peter Denis
Sex                           male
Age                             51
SibSp                            0
Parch                            0
Ticket                      113055
Fare                         26.55
Cabin                          E17
Embarked                         S
Name: 858, dtype: object
Survived                                        1
Pclass                                          3
Name        Baclini, Mrs. Solomon (Latifa Qurban)
Sex                                        female
Age                                            24
SibSp                                           0
Parch                                           3
Ticket                                       2666
Fare                                      19.2583
Cabin                                         NaN
Embarked                                        C
Name: 859, dtype: object
Survived                   0
Pclass                     3
Name        Razi, Mr. Raihed
Sex                     male
Age                      NaN
SibSp                      0
Parch                      0
Ticket                  2629
Fare                  7.2292
Cabin                    NaN
Embarked                   C
Name: 860, dtype: object
Survived                          0
Pclass                            3
Name        Hansen, Mr. Claus Peter
Sex                            male
Age                              41
SibSp                             2
Parch                             0
Ticket                       350026
Fare                        14.1083
Cabin                           NaN
Embarked                          S
Name: 861, dtype: object
Survived                              0
Pclass                                2
Name        Giles, Mr. Frederick Edward
Sex                                male
Age                                  21
SibSp                                 1
Parch                                 0
Ticket                            28134
Fare                               11.5
Cabin                               NaN
Embarked                              S
Name: 862, dtype: object
Survived                                                    1
Pclass                                                      1
Name        Swift, Mrs. Frederick Joel (Margaret Welles Ba...
Sex                                                    female
Age                                                        48
SibSp                                                       0
Parch                                                       0
Ticket                                                  17466
Fare                                                  25.9292
Cabin                                                     D17
Embarked                                                    S
Name: 863, dtype: object
Survived                                    0
Pclass                                      3
Name        Sage, Miss. Dorothy Edith "Dolly"
Sex                                    female
Age                                       NaN
SibSp                                       8
Parch                                       2
Ticket                               CA. 2343
Fare                                    69.55
Cabin                                     NaN
Embarked                                    S
Name: 864, dtype: object
Survived                         0
Pclass                           2
Name        Gill, Mr. John William
Sex                           male
Age                             24
SibSp                            0
Parch                            0
Ticket                      233866
Fare                            13
Cabin                          NaN
Embarked                         S
Name: 865, dtype: object
Survived                           1
Pclass                             2
Name        Bystrom, Mrs. (Karolina)
Sex                           female
Age                               42
SibSp                              0
Parch                              0
Ticket                        236852
Fare                              13
Cabin                            NaN
Embarked                           S
Name: 866, dtype: object
Survived                               1
Pclass                                 2
Name        Duran y More, Miss. Asuncion
Sex                               female
Age                                   27
SibSp                                  1
Parch                                  0
Ticket                     SC/PARIS 2149
Fare                             13.8583
Cabin                                NaN
Embarked                               C
Name: 867, dtype: object
Survived                                       0
Pclass                                         1
Name        Roebling, Mr. Washington Augustus II
Sex                                         male
Age                                           31
SibSp                                          0
Parch                                          0
Ticket                                  PC 17590
Fare                                     50.4958
Cabin                                        A24
Embarked                                       S
Name: 868, dtype: object
Survived                              0
Pclass                                3
Name        van Melkebeke, Mr. Philemon
Sex                                male
Age                                 NaN
SibSp                                 0
Parch                                 0
Ticket                           345777
Fare                                9.5
Cabin                               NaN
Embarked                              S
Name: 869, dtype: object
Survived                                  1
Pclass                                    3
Name        Johnson, Master. Harold Theodor
Sex                                    male
Age                                       4
SibSp                                     1
Parch                                     1
Ticket                               347742
Fare                                11.1333
Cabin                                   NaN
Embarked                                  S
Name: 870, dtype: object
Survived                    0
Pclass                      3
Name        Balkic, Mr. Cerin
Sex                      male
Age                        26
SibSp                       0
Parch                       0
Ticket                 349248
Fare                   7.8958
Cabin                     NaN
Embarked                    S
Name: 871, dtype: object
Survived                                                   1
Pclass                                                     1
Name        Beckwith, Mrs. Richard Leonard (Sallie Monypeny)
Sex                                                   female
Age                                                       47
SibSp                                                      1
Parch                                                      1
Ticket                                                 11751
Fare                                                 52.5542
Cabin                                                    D35
Embarked                                                   S
Name: 872, dtype: object
Survived                           0
Pclass                             1
Name        Carlsson, Mr. Frans Olof
Sex                             male
Age                               33
SibSp                              0
Parch                              0
Ticket                           695
Fare                               5
Cabin                    B51 B53 B55
Embarked                           S
Name: 873, dtype: object
Survived                              0
Pclass                                3
Name        Vander Cruyssen, Mr. Victor
Sex                                male
Age                                  47
SibSp                                 0
Parch                                 0
Ticket                           345765
Fare                                  9
Cabin                               NaN
Embarked                              S
Name: 874, dtype: object
Survived                                        1
Pclass                                          2
Name        Abelson, Mrs. Samuel (Hannah Wizosky)
Sex                                        female
Age                                            28
SibSp                                           1
Parch                                           0
Ticket                                  P/PP 3381
Fare                                           24
Cabin                                         NaN
Embarked                                        C
Name: 875, dtype: object
Survived                                   1
Pclass                                     3
Name        Najib, Miss. Adele Kiamie "Jane"
Sex                                   female
Age                                       15
SibSp                                      0
Parch                                      0
Ticket                                  2667
Fare                                   7.225
Cabin                                    NaN
Embarked                                   C
Name: 876, dtype: object
Survived                                0
Pclass                                  3
Name        Gustafsson, Mr. Alfred Ossian
Sex                                  male
Age                                    20
SibSp                                   0
Parch                                   0
Ticket                               7534
Fare                               9.8458
Cabin                                 NaN
Embarked                                S
Name: 877, dtype: object
Survived                       0
Pclass                         3
Name        Petroff, Mr. Nedelio
Sex                         male
Age                           19
SibSp                          0
Parch                          0
Ticket                    349212
Fare                      7.8958
Cabin                        NaN
Embarked                       S
Name: 878, dtype: object
Survived                     0
Pclass                       3
Name        Laleff, Mr. Kristo
Sex                       male
Age                        NaN
SibSp                        0
Parch                        0
Ticket                  349217
Fare                    7.8958
Cabin                      NaN
Embarked                     S
Name: 879, dtype: object
Survived                                                1
Pclass                                                  1
Name        Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)
Sex                                                female
Age                                                    56
SibSp                                                   0
Parch                                                   1
Ticket                                              11767
Fare                                              83.1583
Cabin                                                 C50
Embarked                                                C
Name: 880, dtype: object
Survived                                               1
Pclass                                                 2
Name        Shelley, Mrs. William (Imanita Parrish Hall)
Sex                                               female
Age                                                   25
SibSp                                                  0
Parch                                                  1
Ticket                                            230433
Fare                                                  26
Cabin                                                NaN
Embarked                                               S
Name: 881, dtype: object
Survived                     0
Pclass                       3
Name        Markun, Mr. Johann
Sex                       male
Age                         33
SibSp                        0
Parch                        0
Ticket                  349257
Fare                    7.8958
Cabin                      NaN
Embarked                     S
Name: 882, dtype: object
Survived                               0
Pclass                                 3
Name        Dahlberg, Miss. Gerda Ulrika
Sex                               female
Age                                   22
SibSp                                  0
Parch                                  0
Ticket                              7552
Fare                             10.5167
Cabin                                NaN
Embarked                               S
Name: 883, dtype: object
Survived                                0
Pclass                                  2
Name        Banfield, Mr. Frederick James
Sex                                  male
Age                                    28
SibSp                                   0
Parch                                   0
Ticket                   C.A./SOTON 34068
Fare                                 10.5
Cabin                                 NaN
Embarked                                S
Name: 884, dtype: object
Survived                         0
Pclass                           3
Name        Sutehall, Mr. Henry Jr
Sex                           male
Age                             25
SibSp                            0
Parch                            0
Ticket             SOTON/OQ 392076
Fare                          7.05
Cabin                          NaN
Embarked                         S
Name: 885, dtype: object
Survived                                       0
Pclass                                         3
Name        Rice, Mrs. William (Margaret Norton)
Sex                                       female
Age                                           39
SibSp                                          0
Parch                                          5
Ticket                                    382652
Fare                                      29.125
Cabin                                        NaN
Embarked                                       Q

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [16]:
df = pd.DataFrame({'c1':[11,12,3], 'c2':[4,5,6]})

In [19]:
def f(r):
    if r > 10:
        return 'Big'
    else:
        return 'Small'
df.c1.apply(f)

0      Big
1      Big
2    Small
Name: c1, dtype: object

In [20]:
def f(r):
    if r['c1'] > r['c2']:
        return r['c1']
    else:
        return r['c2']
    
df.apply(f, axis=1)

0    11
1    12
2     6
dtype: int64

In [22]:
df.apply(lambda r: r['c1'] if r['c1'] > r['c2'] else r['c2'], axis=1)

0    11
1    12
2     6
dtype: int64

In [21]:
df.apply(lambda x:sum(x), axis=0)

c1    26
c2    15
dtype: int64

### Add gender before name

In [18]:
def gadd(r):
    return r['Sex'] + ': ' + r['Name']
    

titanic_data['gender-name'] = titanic_data.apply(gadd, axis=1)

In [19]:
titanic_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,gender-name
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"male: Braund, Mr. Owen Harris"
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"female: Cumings, Mrs. John Bradley (Florence B..."
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"female: Heikkinen, Miss. Laina"
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"female: Futrelle, Mrs. Jacques Heath (Lily May..."
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"male: Allen, Mr. William Henry"

In [41]:
import numpy as np

def gadd(r):
    print (r)
    print ('*')
    return (np.sum(r == 1), np.sum(r==2), np.sum(r == 3))

titanic_data.Pclass.apply(gadd)

3
*
1
*
3
*
1
*
3
*
3
*
1
*
3
*
3
*
2
*
3
*
1
*
3
*
3
*
3
*
2
*
3
*
2
*
3
*
3
*
2
*
2
*
3
*
1
*
3
*
3
*
3
*
1
*
3
*
3
*
1
*
1
*
3
*
2
*
1
*
1
*
3
*
3
*
3
*
3
*
3
*
2
*
3
*
2
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
1
*
2
*
1
*
1
*
2
*
3
*
2
*
3
*
3
*
1
*
1
*
3
*
1
*
3
*
2
*
3
*
3
*
3
*
2
*
3
*
2
*
3
*
3
*
3
*
3
*
3
*
2
*
3
*
3
*
3
*
3
*
1
*
2
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
1
*
1
*
2
*
2
*
3
*
3
*
1
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
3
*
3
*
3
*
2
*
1
*
3
*
2
*
3
*
2
*
2
*
1
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
2
*
2
*
2
*
1
*
1
*
3
*
1
*
3
*
3
*
3
*
3
*
2
*
2
*
3
*
3
*
2
*
2
*
2
*
1
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
3
*
3
*
2
*
3
*
3
*
3
*
3
*
1
*
3
*
1
*
3
*
1
*
3
*
3
*
3
*
1
*
3
*
3
*
1
*
2
*
3
*
3
*
2
*
3
*
2
*
3
*
1
*
3
*
1
*
3
*
3
*
2
*
2
*
3
*
2
*
1
*
1
*
3
*
3
*
3
*
2
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
1
*
3
*
2
*
3
*
2
*
3
*
1
*
3
*
2
*
1
*
2
*
3
*
2
*
3
*
3
*
1
*
3
*
2
*
3
*
2
*
3
*
1
*
3
*
2
*
3
*
2
*
3
*
2
*
2
*
2
*
2
*
3
*
3
*
2
*
3
*
3
*
1
*
3
*
2
*
1
*
2
*
3
*
3
*
1
*
3
*
3
*
3
*
1
*
1
*
1
*
2
*
3
*
3
*
1
*
1
*
3
*
2
*
3
*
3
*
1
*
1
*
1
*
3
*
2
*
1
*
3
*
1
*
3
*
2
*
3
*
3
*
3
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
2
*
3
*
1
*
1
*
2
*
3
*
3
*
1
*
3
*
1
*
1
*
1
*
3
*
3
*
3
*
2
*
3
*
1
*
1
*
1
*
2
*
1
*
1
*
1
*
2
*
3
*
2
*
3
*
2
*
2
*
1
*
1
*
3
*
3
*
2
*
2
*
3
*
1
*
3
*
2
*
3
*
1
*
3
*
1
*
1
*
3
*
1
*
3
*
1
*
1
*
3
*
1
*
2
*
1
*
2
*
2
*
2
*
2
*
2
*
3
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
3
*
1
*
2
*
3
*
3
*
3
*
2
*
3
*
3
*
3
*
3
*
1
*
3
*
3
*
1
*
1
*
3
*
3
*
1
*
3
*
1
*
3
*
1
*
3
*
3
*
1
*
3
*
3
*
1
*
3
*
2
*
3
*
2
*
3
*
2
*
1
*
3
*
3
*
1
*
3
*
3
*
3
*
2
*
2
*
2
*
3
*
3
*
3
*
3
*
3
*
2
*
3
*
2
*
3
*
3
*
3
*
3
*
1
*
2
*
3
*
3
*
2
*
2
*
2
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
2
*
2
*
3
*
3
*
1
*
3
*
2
*
3
*
1
*
1
*
3
*
2
*
1
*
2
*
2
*
3
*
3
*
2
*
3
*
1
*
2
*
1
*
3
*
1
*
2
*
3
*
1
*
1
*
3
*
3
*
1
*
1
*
2
*
3
*
1
*
3
*
1
*
2
*
3
*
3
*
2
*
1
*
3
*
3
*
3
*
3
*
2
*
2
*
3
*
1
*
2
*
3
*
3
*
3
*
3
*
2
*
3
*
3
*
1
*
3
*
1
*
1
*
3
*
3
*
3
*
3
*
1
*
1
*
3
*
3
*
1
*
3
*
1
*
3
*
3
*
3
*
3
*
3
*
1
*
1
*
2
*
1
*
3
*
3
*
3
*
3
*
1
*
1
*
3
*
1
*
2
*
3
*
2
*
3
*
1
*
3
*
3
*
1
*
3
*
3
*
2
*
1
*
3
*
2
*
2
*
3
*
3
*
3
*
3
*
2
*
1
*
1
*
3
*
1
*
1
*
3
*
3
*
2
*
1
*
1
*
2
*
2
*
3
*
2
*
1
*
2
*
3
*
3
*
3
*
1
*
1
*
1
*
1
*
3
*
3
*
3
*
2
*
3
*
3
*
3
*
3
*
3
*
3
*
3
*
2
*
1
*
1
*
3
*
3
*
3
*
2
*
1
*
3
*
3
*
2
*
1
*
2
*
1
*
3
*
1
*
2
*
1
*
3
*
3
*
3
*
1
*
3
*
3
*
2
*
3
*
2
*
3
*
3
*
1
*
2
*
3
*
1
*
3
*
1
*
3
*
3
*
1
*
2
*
1
*
3
*
3
*
3
*
3
*
3
*
2
*
3
*
3
*
2
*
2
*
3
*
1
*
3
*
3
*
3
*
1
*
2
*
1
*
3
*
3
*
1
*
3
*
1
*
1
*
3
*
2
*
3
*
2
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
1
*
3
*
1
*
3
*
3
*
3
*
2
*
3
*
3
*
3
*
2
*
3
*
3
*
2
*
1
*
1
*
3
*
1
*
3
*
3
*
2
*
2
*
3
*
3
*
1
*
2
*
1
*
2
*
2
*
2
*
3
*
3
*
3
*
3
*
1
*
3
*
1
*
3
*
3
*
2
*
2
*
3
*
3
*
3
*
1
*
1
*
3
*
3
*
3
*
1
*
2
*
3
*
3
*
1
*
3
*
1
*
1
*
3
*
3
*
3
*
2
*
2
*
1
*
1
*
3
*
1
*
1
*
1
*
3
*
2
*
3
*
1
*
2
*
3
*
3
*
2
*
3
*
2
*
2
*
1
*
3
*
2
*
3
*
2
*
3
*
1
*
3
*
2
*
2
*
2
*
3
*
3
*
1
*
3
*
3
*
1
*
1
*
1
*
3
*
3
*
1
*
3
*
2
*
1
*
3
*
2
*
3
*
3
*
3
*
2
*
2
*
3
*
2
*
3
*
1
*
3
*
3
*
3
*
1
*
3
*
1
*
1
*
3
*
3
*
3
*
3
*
3
*
2
*
3
*
2
*
3
*
3
*
3
*
3
*
1
*
3
*
1
*
1
*
3
*
3
*
3
*
3
*
3
*
3
*
1
*
3
*
2
*
3
*
1
*
3
*
2
*
1
*
3
*
3
*
3
*
2
*
2
*
1
*
3
*
3
*
3
*
1
*
3
*
2
*
1
*
3
*
3
*
2
*
3
*
3
*
1
*
3
*
2
*
3
*
3
*
1
*
3
*
1
*
3
*
3
*
3
*
3
*
2
*
3
*
1
*
3
*
2
*
3
*
3
*
3
*
1
*
3
*
3
*
3
*
1
*
3
*
2
*
1
*
3
*
3
*
3
*
3
*
3
*
2
*
1
*
3
*
3
*
3
*
1
*
2
*
3
*
1
*
1
*
3
*
3
*
3
*
2
*
1
*
3
*
2
*
2
*
2
*
1
*
3
*
3
*
3
*
1
*
1
*
3
*
2
*
3
*
3
*
3
*
3
*
1
*
2
*
3
*
3
*
2
*
3
*
3
*
2
*
1
*
3
*
1
*
3
*

PassengerId
1      (0, 0, 1)
2      (1, 0, 0)
3      (0, 0, 1)
4      (1, 0, 0)
5      (0, 0, 1)
6      (0, 0, 1)
7      (1, 0, 0)
8      (0, 0, 1)
9      (0, 0, 1)
10     (0, 1, 0)
11     (0, 0, 1)
12     (1, 0, 0)
13     (0, 0, 1)
14     (0, 0, 1)
15     (0, 0, 1)
16     (0, 1, 0)
17     (0, 0, 1)
18     (0, 1, 0)
19     (0, 0, 1)
20     (0, 0, 1)
21     (0, 1, 0)
22     (0, 1, 0)
23     (0, 0, 1)
24     (1, 0, 0)
25     (0, 0, 1)
26     (0, 0, 1)
27     (0, 0, 1)
28     (1, 0, 0)
29     (0, 0, 1)
30     (0, 0, 1)
         ...
862    (0, 1, 0)
863    (1, 0, 0)
864    (0, 0, 1)
865    (0, 1, 0)
866    (0, 1, 0)
867    (0, 1, 0)
868    (1, 0, 0)
869    (0, 0, 1)
870    (0, 0, 1)
871    (0, 0, 1)
872    (1, 0, 0)
873    (1, 0, 0)
874    (0, 0, 1)
875    (0, 1, 0)
876    (0, 0, 1)
877    (0, 0, 1)
878    (0, 0, 1)
879    (0, 0, 1)
880    (1, 0, 0)
881    (0, 1, 0)
882    (0, 0, 1)
883    (0, 0, 1)
884    (0, 1, 0)
885    (0, 0, 1)
886    (0, 0, 1)
887    (0, 1, 0)
888    (1, 0, 0)
889    (0, 0, 1)
890    (1, 0, 0)
891    (0, 0, 1)
Name: Pclass, Length: 891, dtype: object

#### groupBy

In [45]:
gb = titanic_data.groupby('Pclass')

In [54]:
gb.Age.max()

Pclass
1    80.0
2    70.0
3    74.0
Name: Age, dtype: float64

In [55]:
gb.Age.median()

Pclass
1    37.0
2    29.0
3    24.0
Name: Age, dtype: float64

In [56]:
gb.Age.agg(['sum','max'])

            sum   max
Pclass
1       7111.42  80.0
2       5168.83  70.0
3       8924.92  74.0

In [57]:

gb.agg({'Age':['sum','max','min'], 'Fare':['sum','min','max']})

              Fare                     Age
               sum  min       max      sum   max   min
Pclass
1       18177.4125  0.0  512.3292  7111.42  80.0  0.92
2        3801.8417  0.0   73.5000  5168.83  70.0  0.67
3        6714.6951  0.0   69.5500  8924.92  74.0  0.42

In [62]:
def g(d):
    return (np.mean(d.Fare))

gb.apply(g)

Pclass
1    84.154687
2    20.662183
3    13.675550
dtype: float64

### applymap

In [63]:
df = pd.DataFrame(np.random.randn(3, 3))

In [64]:
df.applymap(lambda x:10*x)

          0         1         2
0 -8.515316  1.458716  4.326225
1 -2.147443  7.232075  7.197313
2 -5.442452  1.220317 -4.049891

In [65]:
df

          0         1         2
0 -0.851532  0.145872  0.432623
1 -0.214744  0.723207  0.719731
2 -0.544245  0.122032 -0.404989

### rolling

In [70]:
df = pd.DataFrame({'B': [0, 1, 2, 6, 4]})

In [71]:
df

   B
0  0
1  1
2  2
3  6
4  4

In [73]:
df.rolling(3).sum()

      B
0   NaN
1   NaN
2   3.0
3   9.0
4  12.0

In [78]:
def f(s):
    print (s)
    return np.mean(s)

df.rolling(2, min_periods=1).apply(f)

[ 0.]
[ 0.  1.]
[ 1.  2.]
[ 2.  6.]
[ 6.  4.]

     B
0  0.0
1  0.5
2  1.5
3  4.0
4  5.0