In [1]:
import pandas as pd

In [13]:
service_request = pd.read_csv('service_request.csv', encoding='latin-1', parse_dates=['Closed Date','Opened Date'])

In [14]:
service_request.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36195 entries, 0 to 36194
Data columns (total 30 columns):
Employee Organization Name    36195 non-null object
Employee Login                36195 non-null object
Service Request #             36195 non-null object
Status                        36195 non-null object
Closed Date                   36190 non-null datetime64[ns]
Opened Date                   36195 non-null datetime64[ns]
Description                   36181 non-null object
Actual Start Date-Time        34607 non-null object
Actual End Date-Time          36096 non-null object
Product                       36195 non-null object
Product Line                  36195 non-null object
Expected Serial #             36169 non-null object
Asset #                       36195 non-null object
Activity Type                 36195 non-null object
Activity SubType              36195 non-null object
Comments                      35903 non-null object
Billing Class                 36195 non-null object
Attachment Flag               36195 non-null object
Account Name                  36195 non-null object
Primary Street Address 1      36195 non-null object
Full Name                     36195 non-null object
City                          36195 non-null object
Country                       36195 non-null object
Created Year                  36195 non-null int64
Created Date                  36195 non-null object
Attachment Name               36195 non-null object
Type                          35391 non-null object
Order Status                  36195 non-null object
Order Type                    36195 non-null object
Order #                       36195 non-null object
dtypes: datetime64[ns](2), int64(1), object(27)
memory usage: 8.3+ MB

In [15]:
service_request.head()

,Employee Organization Name,Employee Login,Service Request #,Status,Closed Date,Opened Date,Description,Actual Start Date-Time,Actual End Date-Time,Product,...,Full Name,City,Country,Created Year,Created Date,Attachment Name,Type,Order Status,Order Type,Order #
0,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,Lastyear.maint,maint,Closed,RMA Advance Exchange,1-6425103393
1,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MICROSOFT RCA-CFR-DCA.xlsx,xlsx,Closed,RMA Advance Exchange,1-6425103393
2,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS AFTER PM REPLACEMENTMIM_Frame_PD1119360094_...,txt,Closed,RMA Advance Exchange,1-6425103393
3,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS MIM_Frame_PD1119360094_2015_01_09_21h51mn51...,txt,Closed,RMA Advance Exchange,1-6425103393
4,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,Chethan Chetan,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS RIM_Frame_PD1119360094_2015_01_09_22h07mn47...,txt,Closed,RMA Advance Exchange,1-6425103393

In [17]:
service_request['ttr'] = service_request['Closed Date'] - service_request['Opened Date']

In [18]:
service_request.head()

,Employee Organization Name,Employee Login,Service Request #,Status,Closed Date,Opened Date,Description,Actual Start Date-Time,Actual End Date-Time,Product,...,City,Country,Created Year,Created Date,Attachment Name,Type,Order Status,Order Type,Order #,ttr
0,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,HYDERABAD,INDIA,2015,1/9/2015 0:00,Lastyear.maint,maint,Closed,RMA Advance Exchange,1-6425103393,4 days 00:32:00
1,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,HYDERABAD,INDIA,2015,1/9/2015 0:00,MICROSOFT RCA-CFR-DCA.xlsx,xlsx,Closed,RMA Advance Exchange,1-6425103393,4 days 00:32:00
2,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS AFTER PM REPLACEMENTMIM_Frame_PD1119360094_...,txt,Closed,RMA Advance Exchange,1-6425103393,4 days 00:32:00
3,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS MIM_Frame_PD1119360094_2015_01_09_21h51mn51...,txt,Closed,RMA Advance Exchange,1-6425103393,4 days 00:32:00
4,AGS APAC Field Service,AMKANTIP,16060184,Migrated to bFO,2015-01-13 16:04:00,2015-01-09 15:32:00,Power Module Fault,1/9/2015 16:31,1/9/2015 18:29,SY64K160H,...,HYDERABAD,INDIA,2015,1/9/2015 0:00,MS RIM_Frame_PD1119360094_2015_01_09_22h07mn47...,txt,Closed,RMA Advance Exchange,1-6425103393,4 days 00:32:00

In [22]:
service_request.drop(['Order #','Attachment Name','Type'], inplace=True, axis=1)

In [30]:
service_request.drop(['Closed Date','Opened Date'], axis=1, inplace=True)

In [29]:
service_request['Employee Login'].unique().shape

(262,)

In [33]:
service_request.drop(['Employee Login','Service Request #'], axis=1, inplace=True)

In [35]:
service_request.drop(['Expected Serial #','Asset #'], axis=1, inplace=True)

In [39]:
service_request.dropna(inplace=True)

In [40]:
service_request.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34319 entries, 0 to 36194
Data columns (total 22 columns):
Employee Organization Name    34319 non-null object
Status                        34319 non-null object
Description                   34319 non-null object
Actual Start Date-Time        34319 non-null object
Actual End Date-Time          34319 non-null object
Product                       34319 non-null object
Product Line                  34319 non-null object
Activity Type                 34319 non-null object
Activity SubType              34319 non-null object
Comments                      34319 non-null object
Billing Class                 34319 non-null object
Attachment Flag               34319 non-null object
Account Name                  34319 non-null object
Primary Street Address 1      34319 non-null object
Full Name                     34319 non-null object
City                          34319 non-null object
Country                       34319 non-null object
Created Year                  34319 non-null int64
Created Date                  34319 non-null object
Order Status                  34319 non-null object
Order Type                    34319 non-null object
ttr                           34319 non-null timedelta64[ns]
dtypes: int64(1), object(20), timedelta64[ns](1)
memory usage: 6.0+ MB

In [43]:
from sklearn.feature_selection import VarianceThreshold

In [44]:
varth = VarianceThreshold(threshold=0.1)

In [46]:
feature_data = service_request.drop('ttr', axis=1)

In [54]:
feature_tf = feature_data[['Employee Organization Name', 'Status', 'Description','Product Line', 'Activity Type', 'Activity SubType']]

In [59]:
from sklearn_pandas import DataFrameMapper
from sklearn.preprocessing import LabelEncoder

In [60]:
mapper = DataFrameMapper([
    ('Employee Organization Name', LabelEncoder()),
    ('Status', LabelEncoder()),
    ('Description', LabelEncoder()),
    ('Product Line', LabelEncoder()),
    ('Activity Type', LabelEncoder()),
    ('Activity SubType', LabelEncoder())
])

In [62]:
df = mapper.fit_transform(feature_tf)

In [65]:
df = varth.fit_transform(df)

In [66]:
from sklearn.covariance import EllipticEnvelope

In [67]:
out = EllipticEnvelope(contamination=.1)

In [68]:
out.fit(df)

EllipticEnvelope(assume_centered=False, contamination=0.1, random_state=None,
         store_precision=True, support_fraction=None)

In [70]:
outliers =  out.predict(df)

In [77]:
df = pd.DataFrame(df)

In [78]:
df['o'] = outliers

In [82]:
df['o'] = df.o.map(lambda x: 0 if x == 1 else 1)

In [83]:
df['']

        0     1   2  o
0       0  4164  61  0
1       0  4164  61  0
2       0  4164  61  0
3       0  4164  61  0
4       0  4164  61  0
5       0  4164  61  0
6       0  4164  61  0
7       0  4918  30  0
8       0  4918  30  0
9       0  4918  30  0
10      0  4060  27  0
11      0  4060  27  0
12      0  4060  27  0
13      0  2629  32  0
14      0  2629  32  0
15      0  2629  32  0
16      0  1214  32  0
17      0  1214  32  0
18      0  5060  55  0
19      0  5060  55  0
20      0  5060  55  0
21      0  2513  30  0
22      0  1676  29  0
23      0  1676  29  0
24      0  3402  55  0
25      0  3402  55  0
26      0  4162  55  0
27      0  4162  55  0
28      0  4162  55  0
29      0  4999  53  0
...    ..   ...  .. ..
34289  20  3827  70  1
34290  20  2965  68  1
34291  20  5624  32  1
34292  20  1762  68  1
34293  20  1258  70  1
34294  20  1455  68  1
34295  20   586  70  1
34296  20  3681  68  1
34297  20  5264  70  1
34298  20  1208  68  1
34299  20  3433  68  1
34300  20  2038  68  1
34301  20  2770  68  1
34302  20  3463  70  1
34303  20   112  68  1
34304  20   902  68  1
34305  20  4521  70  1
34306  20   260  20  1
34307  20  1866  68  1
34308  20  3463  51  1
34309  20  3585  68  1
34310  20   727  68  1
34311  20  2011  70  1
34312  20  1208  70  1
34313  20   989  68  1
34314  20  1072  68  1
34315  20  2011  70  1
34316  20  2038  68  1
34317  20  3510  67  1
34318  20  3510  67  1

[34319 rows x 4 columns]

In [92]:
s = service_request['ttr']

In [95]:
target_data = s.map(lambda d: d.days +1 )

In [97]:
from sklearn.ensemble import RandomForestRegressor

In [98]:
rf = RandomForestRegressor(n_estimators=5)

In [99]:
rf.fit(df,target_data)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=5, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [100]:
rf.predict([[1,2,3,4]])

array([ 2.2])

In [101]:
from sklearn.externals import joblib

In [103]:
joblib.dump(rf,'model.pkl')

['model.pkl']