In [1]:
import pandas as pd

In [5]:
ratings = pd.read_csv('Data/ml-100k/u.data',sep='\t',names=['user_id','movie_id','rating'], usecols=range(3))

In [10]:
movies = pd.read_csv(r'Data/ml-100k/u.item', sep='|',encoding='latin-1', names=['movie_id','title'], usecols=range(2))

In [11]:
ratings = pd.merge(movies,ratings)

In [12]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [13]:
movieRatings = ratings.pivot_table(index=['user_id'], columns=['title'], values='rating')

In [14]:
movieRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [15]:
starWarsRating = movieRatings['Star Wars (1977)']

In [16]:
starWarsRating.head()

user_id
1    5.0
2    5.0
3    NaN
4    5.0
5    4.0
Name: Star Wars (1977), dtype: float64

### Corrwith

In [17]:
similarMovies = movieRatings.corrwith(starWarsRating)

C:\Users\awant\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
C:\Users\awant\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

In [18]:
similarMovies = similarMovies.dropna()

In [19]:
df = pd.DataFrame(similarMovies)

In [20]:
df.head(10)

                                            0
title
'Til There Was You (1997)            0.872872
1-900 (1994)                        -0.645497
101 Dalmatians (1996)                0.211132
12 Angry Men (1957)                  0.184289
187 (1997)                           0.027398
2 Days in the Valley (1996)          0.066654
20,000 Leagues Under the Sea (1954)  0.289768
2001: A Space Odyssey (1968)         0.230884
39 Steps, The (1935)                 0.106453
8 1/2 (1963)                        -0.142977

In [27]:
movieRatings[['Star Wars (1977)',"'Til There Was You (1997)"]].head()

title    Star Wars (1977)  'Til There Was You (1997)
user_id
1                     5.0                        NaN
2                     5.0                        NaN
3                     NaN                        NaN
4                     5.0                        NaN
5                     4.0                        NaN

In [28]:
similarMovies.sort_values(ascending=False)

title
No Escape (1994)                                                                     1.000000
Man of the Year (1995)                                                               1.000000
Hollow Reed (1996)                                                                   1.000000
Commandments (1997)                                                                  1.000000
Cosi (1996)                                                                          1.000000
Stripes (1981)                                                                       1.000000
Star Wars (1977)                                                                     1.000000
Golden Earrings (1947)                                                               1.000000
Mondo (1996)                                                                         1.000000
Line King: Al Hirschfeld, The (1996)                                                 1.000000
Outlaw, The (1943)                                                                   1.000000
Hurricane Streets (1998)                                                             1.000000
Scarlet Letter, The (1926)                                                           1.000000
Safe Passage (1994)                                                                  1.000000
Good Man in Africa, A (1994)                                                         1.000000
Full Speed (1996)                                                                    1.000000
Old Lady Who Walked in the Sea, The (Vieille qui marchait dans la mer, La) (1991)    1.000000
Ed's Next Move (1996)                                                                1.000000
Twisted (1996)                                                                       1.000000
Beans of Egypt, Maine, The (1994)                                                    1.000000
Last Time I Saw Paris, The (1954)                                                    1.000000
Maya Lin: A Strong Clear Vision (1994)                                               1.000000
Designated Mourner, The (1997)                                                       0.970725
Albino Alligator (1996)                                                              0.968496
Angel Baby (1995)                                                                    0.962250
Prisoner of the Mountains (Kavkazsky Plennik) (1996)                                 0.927173
Love in the Afternoon (1957)                                                         0.923381
'Til There Was You (1997)                                                            0.872872
A Chef in Love (1996)                                                                0.868599
Guantanamera (1994)                                                                  0.866025
                                                                                       ...
Pushing Hands (1992)                                                                -1.000000
Lamerica (1994)                                                                     -1.000000
Year of the Horse (1997)                                                            -1.000000
Collectionneuse, La (1967)                                                          -1.000000
Dream Man (1995)                                                                    -1.000000
S.F.W. (1994)                                                                       -1.000000
Nightwatch (1997)                                                                   -1.000000
Squeeze (1996)                                                                      -1.000000
Glass Shield, The (1994)                                                            -1.000000
Slingshot, The (1993)                                                               -1.000000
Lover's Knot (1996)                                                                 -1.000000
Tough and Deadly (1995)                                                             -1.000000
Sliding Doors (1998)                                                                -1.000000
Show, The (1995)                                                                    -1.000000
Nil By Mouth (1997)                                                                 -1.000000
Fall (1997)                                                                         -1.000000
Sudden Manhattan (1996)                                                             -1.000000
Salut cousin! (1996)                                                                -1.000000
Neon Bible, The (1995)                                                              -1.000000
Crossfire (1947)                                                                    -1.000000
Love and Death on Long Island (1997)                                                -1.000000
For Ever Mozart (1996)                                                              -1.000000
Swept from the Sea (1997)                                                           -1.000000
Fille seule, La (A Single Girl) (1995)                                              -1.000000
American Dream (1990)                                                               -1.000000
Theodore Rex (1995)                                                                 -1.000000
I Like It Like That (1994)                                                          -1.000000
Two Deaths (1995)                                                                   -1.000000
Roseanna's Grave (For Roseanna) (1997)                                              -1.000000
Frankie Starlight (1995)                                                            -1.000000
Length: 1410, dtype: float64

In [29]:
import numpy as np

In [30]:
movieStats = ratings.groupby('title').agg({'rating':[np.size, np.mean]})

In [35]:
popularMovies = movieStats['rating']['size'] >= 100

In [37]:
movieStats[popularMovies].sort_values([('rating','size')], ascending=False)

                                              rating
                                                size      mean
title
Star Wars (1977)                                 583  4.358491
Contact (1997)                                   509  3.803536
Fargo (1996)                                     508  4.155512
Return of the Jedi (1983)                        507  4.007890
Liar Liar (1997)                                 485  3.156701
English Patient, The (1996)                      481  3.656965
Scream (1996)                                    478  3.441423
Toy Story (1995)                                 452  3.878319
Air Force One (1997)                             431  3.631090
Independence Day (ID4) (1996)                    429  3.438228
Raiders of the Lost Ark (1981)                   420  4.252381
Godfather, The (1972)                            413  4.283293
Pulp Fiction (1994)                              394  4.060914
Twelve Monkeys (1995)                            392  3.798469
Silence of the Lambs, The (1991)                 390  4.289744
Jerry Maguire (1996)                             384  3.710938
Chasing Amy (1997)                               379  3.839050
Rock, The (1996)                                 378  3.693122
Empire Strikes Back, The (1980)                  367  4.204360
Star Trek: First Contact (1996)                  365  3.660274
Back to the Future (1985)                        350  3.834286
Titanic (1997)                                   350  4.245714
Mission: Impossible (1996)                       344  3.313953
Fugitive, The (1993)                             336  4.044643
Indiana Jones and the Last Crusade (1989)        331  3.930514
Willy Wonka and the Chocolate Factory (1971)     326  3.631902
Princess Bride, The (1987)                       324  4.172840
Forrest Gump (1994)                              321  3.853583
Saint, The (1997)                                316  3.123418
Monty Python and the Holy Grail (1974)           316  4.066456
...                                              ...       ...
101 Dalmatians (1996)                            109  2.908257
Ice Storm, The (1997)                            108  3.611111
Tombstone (1993)                                 108  3.666667
Conan the Barbarian (1981)                       107  3.046729
Scream 2 (1997)                                  106  3.216981
William Shakespeare's Romeo and Juliet (1996)    106  3.594340
On Golden Pond (1981)                            106  3.556604
Cable Guy, The (1996)                            106  2.339623
Mr. Smith Goes to Washington (1939)              105  4.123810
Strictly Ballroom (1992)                         104  4.028846
Philadelphia Story, The (1940)                   104  4.115385
True Romance (1993)                              104  3.615385
Outbreak (1995)                                  104  3.240385
Craft, The (1996)                                104  3.115385
Ace Ventura: Pet Detective (1994)                103  3.048544
Benny & Joon (1993)                              102  3.460784
Waterworld (1995)                                102  2.803922
Little Women (1994)                              102  3.676471
In the Name of the Father (1993)                 102  3.911765
Down Periscope (1996)                            101  2.702970
Mimic (1997)                                     101  2.742574
Miracle on 34th Street (1994)                    101  3.722772
Pinocchio (1940)                                 101  3.673267
Basic Instinct (1992)                            101  3.227723
Sex, Lies, and Videotape (1989)                  101  3.475248
Young Guns (1988)                                101  3.207921
I Know What You Did Last Summer (1997)           100  3.060000
Muriel's Wedding (1994)                          100  3.550000
Private Parts (1997)                             100  3.530000
Alien 3 (1992)                                   100  2.830000

[338 rows x 2 columns]

### Making movie recommandations to people

In [38]:
ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

In [39]:
userRatings = ratings.pivot_table(index=['user_id'], columns=['title'], values='rating')

In [40]:
userRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN

In [41]:
corrMatrix = userRatings.corr()

In [42]:
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

In [45]:
df = pd.DataFrame({'A':[1,2,3],'B':[2,3,6]})

In [46]:
df.corr()

          A         B
A  1.000000  0.960769
B  0.960769  1.000000

In [51]:
myRatings = userRatings.loc[1].dropna()

In [52]:
myRatings

title
101 Dalmatians (1996)                                      2.0
12 Angry Men (1957)                                        5.0
20,000 Leagues Under the Sea (1954)                        3.0
2001: A Space Odyssey (1968)                               4.0
Abyss, The (1989)                                          3.0
Ace Ventura: Pet Detective (1994)                          3.0
Air Bud (1997)                                             1.0
Akira (1988)                                               4.0
Aladdin (1992)                                             4.0
Alien (1979)                                               5.0
Aliens (1986)                                              5.0
All Dogs Go to Heaven 2 (1996)                             1.0
Amadeus (1984)                                             5.0
Angels and Insects (1995)                                  4.0
Antonia's Line (1995)                                      5.0
Apocalypse Now (1979)                                      3.0
Apollo 13 (1995)                                           4.0
Aristocats, The (1970)                                     2.0
Army of Darkness (1993)                                    4.0
Austin Powers: International Man of Mystery (1997)         4.0
Babe (1995)                                                1.0
Back to the Future (1985)                                  5.0
Bad Boys (1995)                                            2.0
Basic Instinct (1992)                                      3.0
Batman & Robin (1997)                                      1.0
Batman Forever (1995)                                      1.0
Batman Returns (1992)                                      1.0
Beavis and Butt-head Do America (1996)                     3.0
Bedknobs and Broomsticks (1971)                            2.0
Belle de jour (1967)                                       3.0
                                                          ...
Three Colors: Blue (1993)                                  5.0
Three Colors: Red (1994)                                   5.0
Three Colors: White (1994)                                 4.0
To Wong Foo, Thanks for Everything! Julie Newmar (1995)    3.0
Top Gun (1986)                                             4.0
Toy Story (1995)                                           5.0
True Romance (1993)                                        3.0
Truth About Cats & Dogs, The (1996)                        5.0
Turbo: A Power Rangers Movie (1997)                        1.0
Twelve Monkeys (1995)                                      4.0
Twister (1996)                                             3.0
Unbearable Lightness of Being, The (1988)                  4.0
Under Siege (1992)                                         2.0
Unforgiven (1992)                                          4.0
Unhook the Stars (1996)                                    4.0
Usual Suspects, The (1995)                                 5.0
Wallace & Gromit: The Best of Aardman Animation (1996)     5.0
Weekend at Bernie's (1989)                                 3.0
Welcome to the Dollhouse (1995)                            5.0
What's Eating Gilbert Grape (1993)                         4.0
When Harry Met Sally... (1989)                             5.0
When the Cats Away (Chacun cherche son chat) (1996)        4.0
While You Were Sleeping (1995)                             4.0
White Balloon, The (1995)                                  4.0
Willy Wonka and the Chocolate Factory (1971)               4.0
Wizard of Oz, The (1939)                                   4.0
Wrong Trousers, The (1993)                                 5.0
Young Frankenstein (1974)                                  5.0
Young Guns (1988)                                          3.0
unknown                                                    4.0
Name: 1, Length: 271, dtype: float64

In [53]:
simCan = pd.Series()

In [54]:
for i in range(0,len(myRatings.index)):
    sims = corrMatrix[myRatings.index[i]].dropna()

Index(['101 Dalmatians (1996)', '12 Angry Men (1957)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       'Abyss, The (1989)', 'Ace Ventura: Pet Detective (1994)',
       'Air Bud (1997)', 'Akira (1988)', 'Aladdin (1992)', 'Alien (1979)',
       ...
       'When Harry Met Sally... (1989)',
       'When the Cats Away (Chacun cherche son chat) (1996)',
       'While You Were Sleeping (1995)', 'White Balloon, The (1995)',
       'Willy Wonka and the Chocolate Factory (1971)',
       'Wizard of Oz, The (1939)', 'Wrong Trousers, The (1993)',
       'Young Frankenstein (1974)', 'Young Guns (1988)', 'unknown'],
      dtype='object', name='title', length=271)

In [57]:
sim = corrMatrix['101 Dalmatians (1996)'].dropna()

In [59]:
sim

title
'Til There Was You (1997)                                  -1.000000
101 Dalmatians (1996)                                       1.000000
12 Angry Men (1957)                                        -0.049890
187 (1997)                                                  0.269191
2 Days in the Valley (1996)                                 0.048973
20,000 Leagues Under the Sea (1954)                         0.266928
2001: A Space Odyssey (1968)                               -0.043407
39 Steps, The (1935)                                        0.111111
8 1/2 (1963)                                                0.522233
8 Seconds (1994)                                            1.000000
Absolute Power (1997)                                       0.398783
Abyss, The (1989)                                           0.236350
Ace Ventura: Pet Detective (1994)                          -0.147491
Ace Ventura: When Nature Calls (1995)                       0.094964
Addams Family Values (1993)                                 0.195058
Addicted to Love (1997)                                    -0.094832
Adventures of Pinocchio, The (1996)                         0.242363
Adventures of Priscilla, Queen of the Desert, The (1994)   -0.135467
Adventures of Robin Hood, The (1938)                       -0.263889
Affair to Remember, An (1957)                               0.000000
African Queen, The (1951)                                   0.192703
Age of Innocence, The (1993)                                0.531490
Air Force One (1997)                                        0.221943
Air Up There, The (1994)                                    0.750000
Airheads (1994)                                            -0.645497
Akira (1988)                                                0.132116
Aladdin (1992)                                              0.385118
Aladdin and the King of Thieves (1996)                      0.326669
Alaska (1996)                                               0.883883
Albino Alligator (1996)                                    -0.500000
                                                              ...
When Harry Met Sally... (1989)                              0.312021
When a Man Loves a Woman (1994)                             0.505497
When the Cats Away (Chacun cherche son chat) (1996)        -0.816497
While You Were Sleeping (1995)                              0.021598
White Balloon, The (1995)                                  -1.000000
White Squall (1996)                                         0.021687
Widows' Peak (1994)                                         0.000000
Wild Bunch, The (1969)                                     -0.219265
Wild Things (1998)                                          0.000000
William Shakespeare's Romeo and Juliet (1996)               0.257404
Willy Wonka and the Chocolate Factory (1971)                0.105261
Wings of Desire (1987)                                      0.575224
Wings of the Dove, The (1997)                               0.880705
Winnie the Pooh and the Blustery Day (1968)                -0.101371
Winter Guest, The (1997)                                    1.000000
Wishmaster (1997)                                           1.000000
With Honors (1994)                                          0.714832
Withnail and I (1987)                                       1.000000
Wizard of Oz, The (1939)                                    0.366592
Wolf (1994)                                                 0.219445
Women, The (1939)                                           0.969458
Wonderland (1997)                                          -1.000000
Wrong Trousers, The (1993)                                 -0.002382
Wyatt Earp (1994)                                           0.042025
Year of the Horse (1997)                                   -1.000000
Young Frankenstein (1974)                                   0.158840
Young Guns (1988)                                           0.119234
Young Guns II (1990)                                        0.680414
Young Poisoner's Handbook, The (1995)                       0.000000
Zeus and Roxanne (1997)                                     0.707107
Name: 101 Dalmatians (1996), Length: 1118, dtype: float64

In [58]:
sim.map(lambda x: x*myRatings[0])

title
'Til There Was You (1997)                                  -2.000000
101 Dalmatians (1996)                                       2.000000
12 Angry Men (1957)                                        -0.099780
187 (1997)                                                  0.538382
2 Days in the Valley (1996)                                 0.097946
20,000 Leagues Under the Sea (1954)                         0.533856
2001: A Space Odyssey (1968)                               -0.086813
39 Steps, The (1935)                                        0.222222
8 1/2 (1963)                                                1.044466
8 Seconds (1994)                                            2.000000
Absolute Power (1997)                                       0.797567
Abyss, The (1989)                                           0.472700
Ace Ventura: Pet Detective (1994)                          -0.294981
Ace Ventura: When Nature Calls (1995)                       0.189928
Addams Family Values (1993)                                 0.390116
Addicted to Love (1997)                                    -0.189665
Adventures of Pinocchio, The (1996)                         0.484726
Adventures of Priscilla, Queen of the Desert, The (1994)   -0.270933
Adventures of Robin Hood, The (1938)                       -0.527778
Affair to Remember, An (1957)                               0.000000
African Queen, The (1951)                                   0.385407
Age of Innocence, The (1993)                                1.062980
Air Force One (1997)                                        0.443886
Air Up There, The (1994)                                    1.500000
Airheads (1994)                                            -1.290994
Akira (1988)                                                0.264231
Aladdin (1992)                                              0.770235
Aladdin and the King of Thieves (1996)                      0.653337
Alaska (1996)                                               1.767767
Albino Alligator (1996)                                    -1.000000
                                                              ...
When Harry Met Sally... (1989)                              0.624042
When a Man Loves a Woman (1994)                             1.010994
When the Cats Away (Chacun cherche son chat) (1996)        -1.632993
While You Were Sleeping (1995)                              0.043196
White Balloon, The (1995)                                  -2.000000
White Squall (1996)                                         0.043373
Widows' Peak (1994)                                         0.000000
Wild Bunch, The (1969)                                     -0.438529
Wild Things (1998)                                          0.000000
William Shakespeare's Romeo and Juliet (1996)               0.514808
Willy Wonka and the Chocolate Factory (1971)                0.210523
Wings of Desire (1987)                                      1.150447
Wings of the Dove, The (1997)                               1.761410
Winnie the Pooh and the Blustery Day (1968)                -0.202743
Winter Guest, The (1997)                                    2.000000
Wishmaster (1997)                                           2.000000
With Honors (1994)                                          1.429664
Withnail and I (1987)                                       2.000000
Wizard of Oz, The (1939)                                    0.733185
Wolf (1994)                                                 0.438890
Women, The (1939)                                           1.938917
Wonderland (1997)                                          -2.000000
Wrong Trousers, The (1993)                                 -0.004765
Wyatt Earp (1994)                                           0.084050
Year of the Horse (1997)                                   -2.000000
Young Frankenstein (1974)                                   0.317681
Young Guns (1988)                                           0.238469
Young Guns II (1990)                                        1.360828
Young Poisoner's Handbook, The (1995)                       0.000000
Zeus and Roxanne (1997)                                     1.414214
Name: 101 Dalmatians (1996), Length: 1118, dtype: float64

In [61]:
for i in range(0, len(myRatings.index)):
    sims = corrMatrix[myRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * myRatings[i])
    simCan = simCan.append(sims)

In [63]:
simCan.sort_values(inplace=True,ascending=False)

In [64]:
simCan

Smile Like Yours, A (1997)                              5.0
Man of the Year (1995)                                  5.0
Wild Reeds (1994)                                       5.0
Twin Town (1997)                                        5.0
Twilight (1998)                                         5.0
Schizopolis (1996)                                      5.0
In Love and War (1996)                                  5.0
Fausto (1993)                                           5.0
Fear (1996)                                             5.0
Savage Nights (Nuits fauves, Les) (1992)                5.0
Some Mother's Son (1996)                                5.0
Blink (1994)                                            5.0
Run of the Country, The (1995)                          5.0
Body Snatcher, The (1945)                               5.0
So Dear to My Heart (1949)                              5.0
Wedding Gift, The (1994)                                5.0
Boys (1996)                                             5.0
Scarlet Letter, The (1926)                              5.0
Substance of Fire, The (1996)                           5.0
Roommates (1995)                                        5.0
Fearless (1993)                                         5.0
Jaws 3-D (1983)                                         5.0
City of Industry (1997)                                 5.0
City Slickers II: The Legend of Curly's Gold (1994)     5.0
Fled (1996)                                             5.0
Juror, The (1996)                                       5.0
First Kid (1996)                                        5.0
Firestorm (1998)                                        5.0
Prisoner of the Mountains (Kavkazsky Plennik) (1996)    5.0
Fear of a Black Hat (1993)                              5.0
                                                       ...
Herbie Rides Again (1974)                              -5.0
Bewegte Mann, Der (1994)                               -5.0
Bitter Sugar (Azucar Amargo) (1996)                    -5.0
Free Willy 2: The Adventure Home (1995)                -5.0
Milk Money (1994)                                      -5.0
Frisk (1995)                                           -5.0
Line King: Al Hirschfeld, The (1996)                   -5.0
Traveller (1997)                                       -5.0
Lamerica (1994)                                        -5.0
U.S. Marshalls (1998)                                  -5.0
Vampire in Brooklyn (1995)                             -5.0
Wedding Gift, The (1994)                               -5.0
Welcome To Sarajevo (1997)                             -5.0
Renaissance Man (1994)                                 -5.0
Year of the Horse (1997)                               -5.0
Promesse, La (1996)                                    -5.0
Germinal (1993)                                        -5.0
Powder (1995)                                          -5.0
For Richer or Poorer (1997)                            -5.0
Nil By Mouth (1997)                                    -5.0
Hearts and Minds (1996)                                -5.0
Glass Shield, The (1994)                               -5.0
Frisk (1995)                                           -5.0
For Richer or Poorer (1997)                            -5.0
Out to Sea (1997)                                      -5.0
Operation Dumbo Drop (1995)                            -5.0
Money Train (1995)                                     -5.0
Broken English (1996)                                  -5.0
Talking About Sex (1994)                               -5.0
Bloodsport 2 (1995)                                    -5.0
Length: 311569, dtype: float64

In [65]:
myRatings

title
101 Dalmatians (1996)                                      2.0
12 Angry Men (1957)                                        5.0
20,000 Leagues Under the Sea (1954)                        3.0
2001: A Space Odyssey (1968)                               4.0
Abyss, The (1989)                                          3.0
Ace Ventura: Pet Detective (1994)                          3.0
Air Bud (1997)                                             1.0
Akira (1988)                                               4.0
Aladdin (1992)                                             4.0
Alien (1979)                                               5.0
Aliens (1986)                                              5.0
All Dogs Go to Heaven 2 (1996)                             1.0
Amadeus (1984)                                             5.0
Angels and Insects (1995)                                  4.0
Antonia's Line (1995)                                      5.0
Apocalypse Now (1979)                                      3.0
Apollo 13 (1995)                                           4.0
Aristocats, The (1970)                                     2.0
Army of Darkness (1993)                                    4.0
Austin Powers: International Man of Mystery (1997)         4.0
Babe (1995)                                                1.0
Back to the Future (1985)                                  5.0
Bad Boys (1995)                                            2.0
Basic Instinct (1992)                                      3.0
Batman & Robin (1997)                                      1.0
Batman Forever (1995)                                      1.0
Batman Returns (1992)                                      1.0
Beavis and Butt-head Do America (1996)                     3.0
Bedknobs and Broomsticks (1971)                            2.0
Belle de jour (1967)                                       3.0
                                                          ...
Three Colors: Blue (1993)                                  5.0
Three Colors: Red (1994)                                   5.0
Three Colors: White (1994)                                 4.0
To Wong Foo, Thanks for Everything! Julie Newmar (1995)    3.0
Top Gun (1986)                                             4.0
Toy Story (1995)                                           5.0
True Romance (1993)                                        3.0
Truth About Cats & Dogs, The (1996)                        5.0
Turbo: A Power Rangers Movie (1997)                        1.0
Twelve Monkeys (1995)                                      4.0
Twister (1996)                                             3.0
Unbearable Lightness of Being, The (1988)                  4.0
Under Siege (1992)                                         2.0
Unforgiven (1992)                                          4.0
Unhook the Stars (1996)                                    4.0
Usual Suspects, The (1995)                                 5.0
Wallace & Gromit: The Best of Aardman Animation (1996)     5.0
Weekend at Bernie's (1989)                                 3.0
Welcome to the Dollhouse (1995)                            5.0
What's Eating Gilbert Grape (1993)                         4.0
When Harry Met Sally... (1989)                             5.0
When the Cats Away (Chacun cherche son chat) (1996)        4.0
While You Were Sleeping (1995)                             4.0
White Balloon, The (1995)                                  4.0
Willy Wonka and the Chocolate Factory (1971)               4.0
Wizard of Oz, The (1939)                                   4.0
Wrong Trousers, The (1993)                                 5.0
Young Frankenstein (1974)                                  5.0
Young Guns (1988)                                          3.0
unknown                                                    4.0
Name: 1, Length: 271, dtype: float64